
#container{
	border-top-style:solid;
	border-top-color:#eeeeee;
	background-repeat: no-repeat;
	background-color:#111111;
	height: 32em;
}

#container h2{
	font-family: Verdana;
	font-size: 2vw;
	text-transform: uppercase;
	letter-spacing:0.2vw;
	text-shadow: -0.2vw 0,2vw #555555;
	color: #ff0000;
	text-align:right;
	left:65%;
	opacity:0.6;
	position:absolute; /*This will make the element overlap over the other div element, used as background.*/
}

#container #code{
	animation-name: example2;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

#container #practice{
	animation-name: example3;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

#container #learn{
	animation-name: example;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

#container #description{
	text-align:center;
	position:absolute;
	left:60%;
	bottom:10%;
	font-family: Consolas;
	font-size: 1.3vw;
	color: #ffffff;
	animation-name: example2;
    animation-duration: 30s;
	animation-iteration-count: infinite;
	width:30em;
	text-shadow: 0.3vw 0.2vw #000000;
}

#container img{
	position:absolute;
	left:0px;
	opacity:0.3;
	width:100%;
	height:30em;
	border:none;
}

@keyframes example {
    0%{color:#ff0000;}
	25%{color:#88ff00; }
	50%{color:#00ff00;}
	75%{color:#ff8800;}
	100%{color:#ff0000;}
}

@keyframes example2 {
    0%{color:#ffffff;}
	25%{color:#ff5500; }
	50%{color:#00ff22;}
	75%{color:#0022ff;}
	100%{color:#ffffff;}
}

@keyframes example3 {
    0%{color:#00ff00;}
	25%{color:#008800; }
	50%{color:#0088ff;}
	75%{color:#880011;}
	100%{color:#00ff00;}
}

@keyframes example2{
    0%{left:60%; bottom: 10%; color:white;}
	40%{left:20%; bottom: 10%; color:#ff0000; }
	50%{left:20%; bottom: 30%; color:#aa4400;}
	90%{left:60%; bottom: 30%; color:#00ff00;}
	100%{left:60%; bottom:10%; color:#ffffff;}
}

#content_title{
	text-align: center;
	font-family:Georgia;
}