<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>About</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="./website_resources/global/images/favicon.ico">
        <!--Global resources-->
		<link rel="stylesheet" href="./website_resources/global/css/global.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<!--Local resources-->
		<link rel="stylesheet" href="./website_resources/local/css/about_page.css">
	</head>
	<body>
		<header>
			<div id="header_title">
                <h2 id="page_title"></h2>
                <p id="page_description"></p>
			</div>				
		</header>
<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'About')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>About:</h2>
			<p id="introduction">This page is specifically designed to provide a comprehensive and concise summary, self-assessment 
            and description of myself and the aspects surrounding the technical the expertize that is subject to this Portfolio. 
            </p>
                <p>
                    <code class="title">About Me:</code> <br><br>
                    <img id="my_picture" src="https://avatars.githubusercontent.com/u/26243292?s=400&u=b8f358ff5417e0e1ae79630f4e356e5380a3867d&v=4"></img>
                    I'm a computer science enthusiast who likes to code.<br><br>
                    I've been proactively studying computer programming and various programming 
                    languages through which I've gradually improved through coding practice and by doing 
                    lots of exercises and crafting solutions for several ambitious projects that I've started. 
                    Via similar endevors, I've developed handiness, gained experience and improved the knowledge 
                    and understanding over various concepts relevant to software development.
                    <br><br>
                    By working with different programming languages, I have cultivated a reliable foundation that 
                    is essential for facilitating adaptability across various branches of software development, 
                    where similar infrastructure, technologies and toolchains are employed.
                    <br><br>
                    Starting from low-level <span class="highlighted_element">C</span>, and up to higher-levels 
                    <span class="highlighted_element">C++</span>, <span class="highlighted_element">C#</span>, 
                    <span class="highlighted_element">Java</span>, <span class="highlighted_element">Python</span>, and 
                    <span class="highlighted_element">JavaScript</span>, I've been exploring different aspects surrounding 
                    the process of computer programming, driven by passion and commitment for writing code and crafting 
                    solutions. In that regard: I've been exercising my skills across a diverse range of applications: 
                    from tiny utilities to classic video games and interactive in-browser experiences, by 
                    leveraging various
                    <span class="highlighted_element">APIs</span> 
                    (<span class="highlighted_element">OpenGL</span>), 
                    Frameworks (<span class="highlighted_element">Java.Swing</span>, <span class="highlighted_element">.NET</span>, 
                    <span class="highlighted_element">tKinter</span>), Game Engines (<span class="highlighted_element">Unity</span>), 
                    or through the sole use of 
                    <span class="highlighted_element">HTML</span>/<span class="highlighted_element">CSS</span> and 
                    <span class="highlighted_element">JavaScript</span>.
                </p>
                <p id="core_tech">Technical Proficiency:</p>
                
                <p id="html_css_info" class="rounded_border">
				<code class="title">HTML & CSS</code> <br><br>
                <span class="header">Description:</span><br>
				Hands-on Experience: < 2 years; <br>
				&#10003; can design decent looking web templates;<br>
				&#10003; can handle the responsiveness of the web page; <br>
                &#10003; can debug and fix visual flaws; <br>
                &#10003; capable of refactoring and/or to reformating the content of a web page;<br>
				&#10003; basic knowledge of photo editing; <br>
				&#10003; basic knowledge of color wheels for creating complementary colors & contrasts; <br>
				
				<br><span class="header">Technical Background:</span> <br>
                Have studied and practiced web design on many occasions through 
				the years and became capable in assisting or autonomously contributing or designing decent 
                looking web pages with responsive behaviour that is adjustable based on the viewport size, 
                device and/or screen resolution. <br><br>
                
                <span class="header">On-Job Experience:</span><br>
				Never worked within the web development industry, but worked on several scripts that outputted
                <span class="highlighted_element">HTML</span> reports.
                </p>
                
                <p id="javascript_info" class="rounded_border">
                    <code class="title">JavaScript</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: < 2 years; <br>
                    &#10003; can design / implement basic client web-based applications; <br>
                    &#10003; can design / implement low-medium complexity solutions; <br>
                    &#10003; can make use of object oriented programming concepts; <br>
                    &#10003; can make use of basic Angular functions and directives; <br>
                    
                    <br><span class="header">Technical Background:</span><br>
                    Have studied and practiced coding 
                    in various programming languages while trying to solve same challenges 
                    with different approach, rules or limitations imposed by the language 
                    or tool itself.<br><br> 
                    Together: <span class="highlighted_element">JavaScript</span>, 
                    <span class="highlighted_element">HTML</span> 
                    and <span class="highlighted_element">CSS</span> provide the means to 
                    both design something visually and code its behaviour at the same time. 
                    In that regard he had been able to grow creatively whilst designing and 
                    developing several in-browser classic mini-games.<br><br> 
                    
                    <span class="header">On-Job Experience:</span><br>
                    Although he only scratched the surface and he is still lacking deep 
                    knowledge and understanding of everything that <span class="highlighted_element">JavaScript</span> 
                    can offer, 
                    He feels confident that he can learn more if given the chance to embark in this 
                    high-level programming world.<br>
                </p>
                
                <p id="c_language_info" class="rounded_border">
                    <code class="title">C Language</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: > 4 years; <br>
                    &#10003; can design / implement low-medium complexity solutions;<br>
                    &#10003; familiar with modular programming; <br>
                    &#10003; familiar with unit testing; <br>
                    
                    <br><span class="header">Technical Background:</span><br>
                    Have worked with <span class="highlighted_element">C</span> language for several years 
                    while helping on the development of various projects for embedded systems. <br>
                    <br>
                    <span class="header">On-Job Experience:</span><br>
                    Has several years of experience in the software development industry 
                    using <span class="highlighted_element">C</span> low-level programming language.
                </p>
                
                            
                <p id="python_info" class="rounded_border">
                    <code class="title">Python</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: < 2 years; <br>
                    &#10003; can design / implement low-medium complexity solutions;<br>
                    &#10003; familiar with modular programming;<br>
                    &#10003; familiar with object-oriented programming concepts;<br>
                    &#10003; familiar with <span class="highlighted_element">tKinter</span> interface;<br>
                    &#10003; familiar with exception handling & debugging;<br>
                    <br><span class="header">Technical Background:</span><br>
                    Have interacted with <span class="highlighted_element">Python</span> for few years while using 
                    various scripts for automating software development processes or for 
                    software testing purposes. <br>
                    <br>
                    <span class="header">On-Job Experience:</span><br>
                    Have been actively involved or participated in developing new features for 
                    existing scripts or developing something 
                    from scratch either for home use or industrial purposes.<br>
                </p>
                
                <p id="cpp_info" class="rounded_border">
                    <code class="title">C++</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: < 2 years; <br>
                    &#10003; can design / implement low-medium complexity solutions; <br>
                    &#10003; familiar with modular programming; <br>
                    &#10003; familiar with object oriented programming concepts; <br>
                    &#10003; basic knowledge and understanding of generic programming; <br>
                    &#10003; familiar with <span class="highlighted_element">.NET Windows Forms</span>; <br>
                    
                    <br><span class="header">Technical Background:</span> <br>
                    Grew familiar with the <span class="highlighted_element">C</span> language and all the experience 
                    and handiness that comes from <span class="highlighted_element">C</span> is applicable within 
                    <span class="highlighted_element">C++</span>. 
                    <br><br>In terms of <span class="highlighted_element">OOP</span>: Have studied the usefulness and 
                    applicability of object-oriented programming and finds it rather addictive.
                    <br><br>
                    It seems very handy and professional having all the functionality of an object 
                    in the one place, highly reusable via inheritace, secured via encapsulation 
                    and generically invokable through the objects of the derived classes via 
                    polymorphism. <br><br>
                    
                    <span class="header">On-Job Experience:</span><br>
                    Didn't had the chance to use it professionally as 
                    it requires more resources than other low-level complex datatypes, and it's 
                    not very popular or commonly used in developing software solutions for the 
                    embedded systems, but <span class="highlighted_element">OOP</span> is still one feature and 
                    skill which he would like to further use, develop and master.<br>
                </p>
                <p id="csharp_info" class="rounded_border">
                    <code class="title">C#</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: < 1 years; <br>
                    &#10003; can design / implement low-medium complexity solutions; <br>
                    &#10003; familiar with modular programming; <br>
                    &#10003; familiar with object oriented programming concepts; <br>
                    &#10003; familiar with .NET Windows Forms; <br>
                    <br><span class="header">Technical Background:</span> <br>
                    <span class="highlighted_element">C#</span> is very readable, 
                    higher level and easier to use than <span class="highlighted_element">C++</span>, and it's a perfect 
                    match for developing 
                    Windows Apps. He have been using <span class="highlighted_element">C#</span> and 
                    <span class="highlighted_element">.NET</span> for developing Windows Apps and 
                    for designing 2D and 3D graphics environments 
                    by the means of <span class="highlighted_element">Unity Game Engine</span>.<br><br>
                    <span class="header">On-Job Experience:</span><br>
                    Never worked with <span class="highlighted_element">C#</span> in his line of work.
                </p>
                
                <p id="unity_info" class="rounded_border">
                    <code class="title">Unity</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: < 1 year; <br>
                    &#10003; familiarity with the 2D & 3D development; <br>
                    &#10003; familiarity with Unity datatypes; <br>
                    &#10003; familiarity with Unity game engine physics; <br>
                    <br><span class="header">Technical Background:</span> 
                    <br>
                    Been using <span class="highlighted_element">Unity</span> for designing and developing 2D / 3D graphics 
                    environments and grew familiar with some of the features it provides. <br>
                    <br>
                    <span class="header">On-Job Experience:</span><br>
                    No on-job experience to show.
                </p>
                
                <p id="java_info" class="rounded_border">
                    <code class="title">Java</code> <br><br>
                    <span class="header">Description:</span><br>
                    Hands-on Experience: < 6 months; <br>
                    &#10003; can design / implement low-medium complexity solutions; <br>
                    &#10003; familiar with object-oriented programming concepts; <br>
                    &#10003; some familiarity with <span class="highlighted_element">java.Swing</span> library; <br>
                    <br><span class="header">Technical Background:</span> 
                    <br>
                    Have studied Java for a couple of weeks and practiced 
                    through coding challenges and exercises in order to get familiar with the basics.<br>
                    <br>
                    <span class="header">On-Job Experience:</span><br>
                    No on-job experience to show.
                </p>
        </div>
        <footer>
            <h4 id="copyright_message">{{pageObject.footer_copyright}}</h4>
            <div id = "footer_tabelation_div">
                <div class="footer_columns" ng-repeat="list_item in footer_table_contents">
                    <p class="column_title">{{list_item.name}}:</p>
                    <ul class="footer_list">
                        <li ng-if = "list_item.content == 'text'" ng-repeat="item in list_item.list_values">{{item}}</li>
                        <li ng-if = "list_item.content == 'objects_with_links'" ng-repeat="item in list_item.list_values"><a href="{{item.value}}">{{item.name}}</a></li>
                    </ul>
                </div>
            </div>
            <h5 id="footer_endline">{{pageObject.footer_paragraph}}</h5>
        </footer> 
	</body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="./website_resources/global/scripts/global_script.js"></script>
</html>