<!DOCTYPE html>
<html>
	<head>
		<title>Portofolio</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="./css/global.css">
		<link rel="stylesheet" href="./css/contact_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="./scripts/global_script.js"></script>
	</head>
	<body ng-app="myApplication" ng-controller="Controller">
		<header>
			<div id="header_title">
				<h2>Portofolio</h2>
			</div>
			<div id="navigation"> <!-- A class should be used when elements of same class would share the same
	style, an id is used as an unique identifier, for a particular object.		-->
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="catalogue.html">Catalogue</a></li>
					<li id="selected_webpage"><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			</div>
		</header>
			<article>
				<table>
					<tr><th><h2>Contact Information:</h2></th></tr>
					<tr>
						<td>
							<h2>Email Address: <a href="MAILTO:dragos.vacariu@mail.com">dragos.vacariu@mail.com</a></h2>
							<h2>GitHub: <a href="https://github.com/dragos-vacariu">Dragos Vacariu</a></h2>
							<h2>LinkedIn: <a href="https://www.linkedin.com/in/dragos-vacariu-em/">Dragos Vacariu</a></h2>
							<h2>Phone: 0000000000</h2>
							<h2>Location: Iasi, Romania</h2>
							<img src="./images/romania.png" alt="romania flag">
						</td>
					</tr>
				</table>
				<aside>
					<h4 id="thank">Greetings</h4>
					<img id="anim" src="./images/square.jpg">
					<img src="./images/drv_logo.jpg" alt="drv logo">
				</aside>
			</article>
		<footer>
			<h4>Dragos Vacariu &copy; 2024</h4>
			<h5>Portofolio</h5>
			<table>
				<th>Template:</th>
				<th>Connections: </th>
				<th>Tools Used:</th>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in connections_list"><a href="https://www.{{x}}">{{x}}</a></li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>