<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Contact</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="./website_resources/global/images/favicon.ico">
        
        <!--Global resources-->
		<link rel="stylesheet" href="./website_resources/global/css/global.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<!--Local resources-->
		<link rel="stylesheet" href="./website_resources/local/css/contact_page.css">
	</head>
	<body>
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Contact')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
        <table id = "contact_content">
            <tr>
                <td id="first_column">
                    <h2 id="first_column_header">Contact Information:</h2>
                    <article>
                        <h2>System pronouns: He / Him</h2>
                        <h2>Languages: Romanian, English</h2>
                        <h2>Name: Dragos Vacariu</h2>
                        <h2>Name pronunciation: DRA-Gosh VA-KA-RI-U</h2>
                        <h2>Listen Name pronunciation: 
                            <audio controls>
                              <source src="./website_resources/local/audio/dragos_vacariu.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                            </audio>		
                        </h2>
                        <h2>Email Address: <a href="MAILTO:dragos.vacariu@mail.com">dragos.vacariu@mail.com</a></h2>
                        <h2>GitHub: <a href="https://github.com/dragos-vacariu">Dragos Vacariu</a></h2>
                        <h2>LinkedIn: <a href="https://www.linkedin.com/in/dragos-vacariu-em/">Dragos Vacariu</a></h2>
                        <h2>Phone: 0000000000</h2>
                        <h2>Location: Iasi, Romania</h2>
                        <img src="./website_resources/local/images/romania.png" alt="romania flag">
                    </article>
                </td>
                <td id="second_column">
                    <h2 id="second_column_header">Plugins:</h2>
                    <aside>
                        <img id="anim" src="./website_resources/local/images/square.png" alt="animation">
                        <img id="image" src="./website_resources/local/images/laptop.png" alt="logo">
                        <span id="greetings">Greetings!</span>
                    </aside>
                    <div id="div_with_gif">
                        <img id="image" src="./website_resources/local/images/mario_hopping.gif" alt="mario hopping gif">
                    </div>
                    <h2 id = "clock"></h2>
                </td>
            </tr>
        </table>
        <footer>
            <h4 id="copyright_message">{{pageObject.footer_copyright}}</h4>
            <table>
                <tr>
                    <th ng-repeat="list_item in footer_table_contents">{{list_item.name}}:</th>
                </tr>
                <tr>
                    <td ng-repeat="list_item in footer_table_contents">
                        <ul class="footer_list">
                            <li ng-if = "list_item.content == 'text'" ng-repeat="item in list_item.list_values">{{item}}</li>
                            <li ng-if = "list_item.content == 'objects_with_links'" ng-repeat="item in list_item.list_values"><a href="{{item.value}}">{{item.name}}</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <h5 id="footer_endline">{{pageObject.footer_paragraph}}</h5>
        </footer> 
	</body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="./website_resources/global/scripts/global_script.js"></script>
    <!--Local resources-->
    <script src="./website_resources/local/scripts/contact_page_script.js"></script>
</html>