<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>{{pageObject.page_title}} Home</title>
		<meta charset = "UTF-8">
		<!--Global resources-->
		<link rel="stylesheet" href="./website_resources/global/css/global.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="./website_resources/global/scripts/global_script.js"></script>
		<!--Local resources-->
		<link rel="stylesheet" href="./website_resources/local/css/home_page.css">
	</head>
	<body>
		<nav>
			<a id = "selected_webpage" class = "outer_href" href={{pageObject.page_navigation[0].value}}>{{pageObject.page_navigation[0].name}}</a>
			<div class="dropdown_menu">
				<button class="dropdown_button">{{pageObject.page_navigation[1].name}}</button>
				<div class="dropdown_content">
					<a ng-repeat="page in pageObject.page_navigation_dropdown" href=../{{page.value}}>{{page.name}}</a>
				</div>
			</div>
			<a class = "outer_href"  href={{pageObject.page_navigation[2].value}}>{{pageObject.page_navigation[2].name}}</a>
		</nav>
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>				
		</header>
		<div id="container">
			<img src="./website_resources/local/images/computer.jpg" alt="background image">
			<div id="saying">
				<span id="learn">Learn</span><span id="code"> Code</span> <span id="practice">Practice</span>
			</div>
			<p id="message">HTML5 and CSS3 helped to create this portofolio as a means to display the skills and knowledge gathered through sole studying and/or on-job trainings and activities associated to the IT industry.</p>
		</div>
		<div id="content">
			<div id="content_title">
				<h2>About Me:</h2>
				<p>I'm a computer science enthusiast who likes to code.<br><br>

				I've been proactively studying: computer programming and various programming languages through which I've continuously improved my coding skills and practices, by doing lots of exercises and project work. I've been gathering knowledge, handiness and experience in working with different programming languages, and built up the background and the foundation required to boost up my skills, independently, whenever necessary, or to help and/or assist others with the expertise.
				<br><br>
				Starting from low-level C, and up to higher-levels C++, C#, Java, Python, and JavaScript, I've been following the passion for writing code and thinking algorithms. I've exercised and developed various apps: from tiny-little programs to small video games or in-browser apps, by the means of APIs (OpenGL), Frameworks (Java.Swing, .NET, tKinter), Game Engines (Unity), or through the use of HTML and CSS together with JavaScript.
				</p>
				<h3>Technologies Used:</h3>
			</div>
			<div id="reference">
				<table>
					<th>
						<div>
							<p>HTML</p>
							<p><img class="ref_pic" src="./website_resources/local/images/html.png" alt="html logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>CSS</p>
							<p><img class="ref_pic" src="./website_resources/local/images/css.png" alt="css logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>JavaScript</p>
							<p><img class="ref_pic" src="./website_resources/local/images/javascript.png" alt="javascript logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>Angular</p>
							<p><img class="ref_pic" src="./website_resources/local/images/angular.png" alt="angular logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>C++</p>
							<p><img class="ref_pic" src="./website_resources/local/images/cpp.png" alt="cpp logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>C#</p>
							<p><img class="ref_pic" src="./website_resources/local/images/csharp.png" alt="csharp logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>Java</p>
							<p><img class="ref_pic" src="./website_resources/local/images/java.png" alt="java logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>Python</p>
							<p><img class="ref_pic" src="./website_resources/local/images/python.png" alt="python logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>Unity</p>
							<p><img class="ref_pic" src="./website_resources/local/images/unity.png" alt="unity logo"></p>
						</div>
					</th>
					<th>
						<div>
							<p>.NET</p>
							<p><img class="ref_pic" src="./website_resources/local/images/.net.png" alt=".net logo"></p>
						</div>
					</th>
				</table>
			</div>
		</div>
		<footer>
			<h4>{{pageObject.footer_copyright}}</h4>
			<h5>{{pageObject.footer_paragraph}}</h5>
			<table>
				<tr>
					<th>{{pageObject.footer_table_headers[0]}}</th>
					<th>{{pageObject.footer_table_headers[1]}}</th>
					<th>{{pageObject.footer_table_headers[2]}}</th>
				</tr>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.connections_list">
								<a href="https://www.{{x}}">{{x}}</a>
							</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>