<!DOCTYPE html >
<html  ng-app="myApplication" ng-controller="Controller">
    <head>
        <title>Learning Portal</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="./website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="./website_resources/global/css/global.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="./website_resources/global/scripts/global_script.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./website_resources/local/css/portal_page.css">
        <!--The local script is placed in the bottom the page-->
    </head>
    <body>
        <header>
            <div id="header_title">
                    <h2>{{pageObject.page_title}}</h2>
            </div>                
        </header>
        <nav>
            <div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Portal')">
                <a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
                
                <div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
                    <a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
                    <div class="dropdown_content">
                        <a ng-repeat="page in pageObject.page_navigation_dropdown" href={{dotSlash}}{{page.value}}>{{page.name}}</a>
                    </div>
                </div>    
            </div>
        </nav>
        <div id="page_block">
            <h2>Portal</h2>
            <div id="page_content">
                <div id="menu_div">
                    <ul id="menu">
                        <form id = "searchForm">
                            <input id="SearchBox" type = "text" placeholder="Search.."></input>
                            <input id="searchButton" type = "button" value = "Search"></input>
                            <input id="clearSearchButton" type = "button" value = "Clear"></input>
                        </form>
                        <p>Page View:</p> 
                        <li id = "page_selection" class = "selection_list">
                        </li>
                        <p id="view_selection_title">Content View:</p> 
                        <li id = "view_selection" class = "selection_list">
                            
                        </li>
                        <p>Selection Type:</p> 
                        <li id = "selection_type" class = "selection_list">
                            
                        </li>
                        <p id="programming_language_selection_title">Language Selection:</p>
                        <li id = "programming_language_selection" class = "selection_list">
                            
                        </li>
                        <p id="overall_language_selection_title">Overall Language Selection:</p>
                        <li id="overall_language_selection" class = "selection_list">
                            
                        </li>
                        <p id="overall_concept_selection_title">Overall Concept Selection:</p>
                        <li id="overall_concept_selection" class = "selection_list">
                           
                        </li>
                        <p>Concept Selection:</p>
                        <li id="concept_selection">
                            
                        </li>
                    </ul>
                </div>
                <div id="content">
                    <div id="database_info">
                        <description>The portal is implemented as means to facilitate 
                        browsing the information extracted from a database.<br>
                        The buttons can be used to change the view and to select or deselect the information considered 
                        relevant/not relevant.<br><br>
                        </description>
                        <info>
                        The materials stored in the database were gathered from various public sources and free tutorial platforms 
                        such us: <a href="http://www.w3schools.com">W3School</a>, <a href="http://www.youtube.com">YouTube<a>, 
                        <a href="https://www.geeksforgeeks.org/">GeeksForGeeks</a>, <a href="https://ro.wikipedia.org/">Wikipedia</a> 
                        or taken from the personal achieve of exercises, projects, training materials and code samples.
                        </info>
                        <br><br>
                        <q>Results of various studies state that a person could become an expert in nearly any 
                        field as long as they were willing to devote the requisite <blue>10,000 hours</blue> to studying and 
                        practicing the subject or skill.
                        <br><br>
                        <blue>10 000 hours / 8h per day / 20 days per month / 12 months per year &#8773; 5.2 years</blue></q>
                    </div>
                    <table id="table_content" hidden="hidden">
                    </table>
                </div>
            </div>
        </div>
        <footer>
            <h4>{{pageObject.footer_copyright}}</h4>
            <h5>{{pageObject.footer_paragraph}}</h5>
            <table>
                <tr>
                    <th>{{pageObject.footer_table_headers[0]}}</th>
                    <th>{{pageObject.footer_table_headers[1]}}</th>
                    <th>{{pageObject.footer_table_headers[2]}}</th>
                </tr>
                <tr>
                    <td>
                        <ul class="footer_list">
                            <li ng-repeat="x in pageObject.template_info">{{x}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="footer_list">
                            <li ng-repeat="x in pageObject.connections_list">
                                <a class = "outer_href" href="https://www.{{x}}">{{x}}
                                </a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="footer_list">
                            <li ng-repeat="x in pageObject.tools_used">{{x}}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </footer>        
    </body>
    <!--Local scripts-->
    <script src="./website_resources/local/scripts/portal_script.js"></script>
</html>