<!DOCTYPE html >
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Portal</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<!--Global resources-->
		<link rel="stylesheet" href="./website_resources/global/css/global.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="./website_resources/global/scripts/global_script.js"></script>
		
		<!--Local resources-->
		<link rel="stylesheet" href="./website_resources/local/css/portal_page.css">
		<!--The local script is placed in the bottom the page-->
	</head>
	<body>
	<header>
		<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
		</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="{'background-color': (page.name == 'Home') ? '#aa4400' : rgba(255,255,255,0.0),}">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{exitDir}}{{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Portal</h2>
			<h4>
				<p>
					This page is dedicated to learning or revising the knowledge 
					and understanding over various concepts within the programming languages. 
				</p>
				<form>
					<ul id="menu">
						<li id = "programming_language_selection" class = "selection_list">
							Language Selection: 
							
						</li>
						<li id="overall_language_selection" class = "selection_list">
							Overall Language Selection:
						</li>
						<li id="concept_selection" class = "selection_list">
							Concept Selection:
						</li>
						<li id="overall_concept_selection" class = "selection_list">
							Overall Concept Selection:
						</li>
					</ul>
				</form>
				<table id="table_content" hidden="hidden">
				</table>

			</h4>
		</div>
		<footer>
			<h4>{{pageObject.footer_copyright}}</h4>
			<h5>{{pageObject.footer_paragraph}}</h5>
			<table>
				<tr>
					<th>{{pageObject.footer_table_headers[0]}}</th>
					<th>{{pageObject.footer_table_headers[1]}}</th>
					<th>{{pageObject.footer_table_headers[2]}}</th>
				</tr>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.connections_list">
								<a class = "outer_href" href="https://www.{{x}}">{{x}}
								</a>
							</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>		
	</body>
	<!--Local scripts-->
	<script src="./website_resources/local/scripts/portal_script.js"></script>
</html>