<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>{{pageObject.page_title}}</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="./css/global.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="./scripts/global_script.js"></script>
	</head>
	<body>
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>
			<div id="navigation">
				<nav>
					<ul>
						<li><a href={{pageObject.page_navigation[0].value}}>{{pageObject.page_navigation[0].name}}</a></li>
						<li  id="selected_webpage"><a href={{pageObject.page_navigation[1].value}}>{{pageObject.page_navigation[1].name}}</a></li>
						<li><a href={{pageObject.page_navigation[2].value}}>{{pageObject.page_navigation[2].name}}</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="page_block">
			<h2>Catalogue:</h2>
			<table id = "content_table">
				<tr>
					<td>
						<div id ="catalogue_div_left">
							<ul class = "content_list">
								<li><a href = "./catalogue_pages/unity_csharp_catalogue_page.html">Unity & C#</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/Cpp-OpenGL-Projects/">C++ & OpenGL</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/Html-Projects/">HTML & CSS</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/Javascript-Projects/">JavaScript</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/AngularJS/">Angular</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/CSharp-Projects/">C# .NET</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/Cpp-Projects/">C++ .NET</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/Java-Projects/">Java</a><br></li>
								<li><a href = "https://dragos-vacariu.github.io/Python-Projects/">Python</a><br></li>
							</ul>
						</div>
					</td>
					<td>
						<div id="catalogue_div_right">
							<img src="mario.gif" alt="mario gif">
						</div>
					</td>
				</tr>
			</table>
		</div>
		<footer>
			<h4>{{pageObject.footer_copyright}}</h4>
			<h5>{{pageObject.footer_paragraph}}</h5>
			<table>
				<tr>
					<th>{{pageObject.footer_table_headers[0]}}</th>
					<th>{{pageObject.footer_table_headers[1]}}</th>
					<th>{{pageObject.footer_table_headers[2]}}</th>
				</tr>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.connections_list">
								<a href="https://www.{{x}}">{{x}}
								</a>
							</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>