#content_table{
	margin:5px;
	width:100%;
}
body{
	//background-image: url(index_background.jpg);
	background-color: white;
	background-size:20%;
    background-repeat: repeat;
}
#content_div{
    width:50%; 
	font-family: Trebucket MS;
	font-size: 1.3vw;
	border-style: none;
	border-width: 1.2vw;
	border-color: white;
    margin:1%; 
	padding:1%;
	position: relative;
	left:25%
}

#content_div h2{
	font-family: Consolas;
	color: green;
    font-size: 2.0vw;
	font-variant: small-caps;
}

#content_div h2 b{
	color: pink;
}

#content_div a{
	color: lightgreen;
	font-family: Courier New;
	letter-spacing: 1px;
	margin:5px;
	padding:5px;
	font-weight: bold;
	line-height: 1.6;
	font-variant: small-caps;
	font-size: 2vw;
	text-decoration: none;
}
#content_div a:hover{
	color: pink;
	font-family: Courier New;
	letter-spacing: 1px;
	margin:5px;
	padding:5px;
	font-weight: bold;
	line-height: 1.6;
	font-variant: small-caps;
	font-size: 2vw;
	text-decoration: none;
}
#pagination_div ul
{
    letter-spacing: 2px;
    list-style-type: none;
    text-align: left;
    position:relative;
}

#pagination_div ul li 
{
    display: inline;
    padding: 1.5vw;
    font-family: Trebuchet Ms;
    font-size: 2.5vw;
    width: 100%; 
}

#pagination_div
{
	position: relative;
	width:100%; 
	opacity: 0.9;
	font-family: Trebucket MS;
	font-size: 1.3vw;
    margin:1%; 
	padding:1%;
}