#page_block
{
    /*background-image: repeating-radial-gradient(farthest-side at 0% 0%, rgba(255,255,255, 0.1), rgba(255,255,255, 1));*/
    border: none 0px black;
}

#page_block #block_content
{
    position: relative;
    display: block;
    overflow: hidden;
    /*flex-wrap: wrap;*/
    word-wrap: break-word;
    overflow: hidden; /*this will ensure that the floated video will not overlap with anything outside this container*/
    margin: 2% auto;
    padding: 2%;

    font-family: Georgia;
    font-size: 1.1rem;
    text-align: left;
    font-weight: normal;
    font-style: italic;
    border: solid 5px black;
    line-height:1.7rem;

    width: 98%;
    height: fit-content;
    border: solid 2px rgba(0,0,0,0.1);
    border-radius: 5vw;
    background-color: var(--header-footer-color);
    background-image: url("../../local/images/video_page_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: var(--header-footer-background-size);
    background-repeat: repeat;*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.regular_ul{
    margin-left: 20px;
    list-style-type: square;
    list-style-position: inside; /*this will make the marker stick inside the list*/
    margin: 10px;
    padding: 0px;
}

@media (max-width: 768px) 
{
    #page_block #block_content #game_content{
        width: 80%;
    }
}

@media (max-width: 480px) 
{
    #page_block #block_content #game_content{
        width: 100%;
    }
}