#page_block
{
    /*background-image: repeating-radial-gradient(farthest-side at 0% 0%, rgba(255,255,255, 0.1), rgba(255,255,255, 1));*/
    border: none 0px black;
    margin: 25px auto !important; /*overwriting the global property of page_block*/
}

#block_content
{
    position: relative;
    display: block;
    /*flex-wrap: wrap;*/
    word-wrap: break-word;
    overflow: hidden; /*this will ensure that the floated video will not overlap with anything outside this container*/
    margin: 0px;
    padding: 10px;
    color: rgb(100,100,100);
    
    font: var(--menu-font);
    text-align: left;

    width: 100%;
    height: fit-content;
    border: none 2px rgba(0,0,0,0.1);
    border-radius: 0px;
    border-left: solid 1px #ddd;
    
    background-color: white;
    /*
    background-color: var(--header-footer-color);
    background-image: url("../../local/images/video_page_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: var(--header-footer-background-size);
    background-repeat: repeat;*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.regular_ul{
    margin-left: 20px;
    list-style-type: square;
    list-style-position: inside; /*this will make the marker stick inside the list*/
    margin: 10px;
    padding: 0px;
}

@media (max-width: 768px) 
{
    #page_block #block_content{
        font-size: 1.0rem;
    }
    #page_block #block_content #game_content{
        width: 80%;
    }
}

@media (max-width: 480px) 
{
    #page_block #block_content{
        font-size: 0.8rem;
    }
    #page_block #block_content #game_content{
        width: 100%;

    }
}


.highlighted{
    border-top: groove 1px rgba(0,0,0,0.1); /* optional: highlight on left */
    border-bottom: groove 1px rgba(0,0,0,0.1); /* optional: highlight on left */
    padding: 5px 0px;       /* space for the border */

}

.highlighted .project_catalogue{
    color: #1a73e8;
}

.project_catalogue:hover, .project_catalogue_app_button:hover{
    color: var(--darkblue-color);
}

/* Remove default button styles */
.project_catalogue_app_button {
    display: block;
    background: none;       /* no background */
    border: none;           /* no border */
    padding: 4px 0px;             /* remove default padding */
    margin: 2px;              /* remove default margin */
    margin-left: 25px;              /* remove default margin */
    font: var(--navigation-font);          /* inherit font from parent */
    font-size: 0.8rem;
    font-weight: normal;
    color: #1a73e8;         /* Google-link blue */
    cursor: pointer;        /* pointer on hover */
    transition: color 0.2s, color 0.2s;
}

.app_nav_buttons_div{

}

.selected{

    border-left: 2px solid var(--darkblue-color); /* optional: highlight on left */
    padding-left: 5px;       /* space for the border */

    color: var(--darkblue-color);         /* Google-link blue */
}