#page_block
{
    /*background-image: repeating-radial-gradient(farthest-side at 0% 0%, rgba(255,255,255, 0.1), rgba(255,255,255, 1));*/
    border: none 0px black;
    margin: 25px auto !important; /*overwriting the global property of page_block*/
}

#block_content
{
    position: relative;
    display: block;
    /*flex-wrap: wrap;*/
    word-wrap: break-word;
    overflow: hidden; /*this will ensure that the floated video will not overlap with anything outside this container*/
    margin: 0px;
    padding: 10px;
    color: rgb(100,100,100);
    
    font: var(--menu-font);
    text-align: left;

    width: 100%;
    height: fit-content;
    border: none 2px rgba(0,0,0,0.1);
    border-radius: 0px;
    border-left: solid 1px #ddd;
    
    background-color: white;
    /*
    background-color: var(--header-footer-color);
    background-image: url("../../local/images/video_page_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: var(--header-footer-background-size);
    background-repeat: repeat;*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.regular_ul{
    margin-left: 20px;
    list-style-type: square;
    list-style-position: inside; /*this will make the marker stick inside the list*/
    margin: 10px;
    padding: 0px;
}

@media (max-width: 768px) 
{
    #page_block #block_content{
        font-size: 1.0rem;
    }
    #page_block #block_content #game_content{
        width: 80%;
    }
}

@media (max-width: 480px) 
{
    #page_block #block_content{
        font-size: 0.8rem;
    }
    #page_block #block_content #game_content{
        width: 100%;

    }
}
