/*GLOBALS STYLING*/
body{
	background-color:#eeeeee;
	font-family: Arial, Verdana, Tahoma, FjallaOne;
	margin:0%;
	padding:0%;
}

header{
	position:relative;
	width:100%;
	height:auto;
	padding:0%;
	margin:0%;
	background-image: linear-gradient(to right, #aa7700, #995500);
	display: block;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	border-color: black;
	border-width: 0px;
	overflow: hidden;
}

header #header_title{
	position: relative;
	color:#ffffff;
	width:200px;
	margin:2% 10%;
	padding:10px;
    word-wrap: break-word;
}

header #header_title h2{
    position: relative;
    text-align: center;
    font-family: FjallaOne;
    font-size:20px;
    margin: 0%;
    text-shadow: 2px 2px #000000;
}

header #header_title p{
    position: relative;
    text-align: center;
    font-family: ZenDots;
    font-size:7px;
    color: #ffeecc;
    margin: 0%;
    text-shadow: 1px 1px #000000;
}

nav{
	position: relative;
	/*setting width and height for the element will help maintaing the proper ratio for elements with size in % or vw*/
	width:100%;
	height: auto; 
	margin: 0%;
	margin-top: -1px; /*with this negative margin the nav will overlap over the header element that is on top of it*/
	padding: 0%;
	margin-bottom: 0px;
	background-image: linear-gradient(to right, #aa7700, #995500);
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-style: none;
	border-width:0px;
	border-color:black;
	text-align: center;
    font-family: FjallaOne;
    font-size: 18px;
}

nav div{
	width: 100px;
    max-width: 90%;
	padding: 0.7vw;
	display: inline-block;
    margin-bottom: 0.5%;
    word-wrap:break-word;
}

.outer_href{
	position: relative;
	text-decoration: none;
	margin:0%;
	color:white;
	text-shadow: 0.1vw 0.1vw #000000;	
	letter-spacing: 0.1vw;
	background-color: rgba(0,0,0,0.0);
	text-decoration:none;
	border-style: none;
	text-align: center;
	padding: 1%;
    word-wrap:break-word;
    max-width: 100%;
}

.outer_href:hover{
	color:yellow;
}


.dropdown_menu {
	position: relative;
	display: inline-block;
}

.dropdown_content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 200px;
    max-width: 100%;
	left: -50%; /*-50% so that it will be centered*/
	z-index: 1;
	text-align: center;
	font-size: 10px;
    letter-spacing: 0.1vw;
    font-family: ZenDots;
}

.dropdown_content a {
	color: black;
	padding: 0.8vw 0.2vw;
	text-decoration: none;
	display: block;
}

.dropdown_content a:hover {background-color: red;}

.dropdown_menu:hover .dropdown_content {display: block;}


#reference{
	display: inline;
	padding: 0%;
}

#reference table tr th{
	text-align:center;
	border-style: inset;
	border-color: black;
	border-width:1px;
    border-radius: 100px;
	padding:0%;
    vertical-align: top;
}

#reference table tr {
    background-image: repeating-linear-gradient(to right, rgba(255,0,0,0.1), rgba(255,255,0,0.1), 
    rgba(0,255,0,0.1), rgba(0,0,255,0.1), rgba(0,255,255,0.1), rgba(255,0,255,0.1));
}

#reference table{
	margin-left:auto;
	margin-right:auto;
	width:60%;
    max-width:1200px;
	padding:0%;
	border: none 1px black;
    margin-bottom: 1%;
    table-layout: fixed;
    word-wrap: break-word;
}

#reference table th div p 
{
    font-family: ZenDots;
	font-size: 50%;
    color: black;
	width:auto;
	word-wrap: break-word;
    margin: 10%;
}

.ref_pic{
	width:100%;
	/*box-shadow:1vw 1vw 0.5vw lightgray;*/
}

footer{
	height:auto;
	background-image: linear-gradient(to right, #aa7700, #995500);
	width:98%;
	display:block;
	color:white;
	border-color: black;
	border-style: solid;
	border-width: 0px;
    margin: 0%;
    padding: 1%;
	font-family: Georgia;
	font-size: 14px;
	text-shadow: 1px 2px #000000;
	box-shadow: inset 5px 5px 5px #884400;
}

footer h4{
	text-align:center;
	color: #ffeecc;
    font-family: FjallaOne;
	font-size: 120%;
    word-wrap:break-word;
}

footer h5{
	text-align:center;
	color: white;
	width:80%;
	margin-left:10%;
	padding: 0.2vw;
	font-size: 70%;
    font-family: Rockwell;
    word-wrap:break-word;
}

footer #footer_tabelation_div{
    position: relative;
    width: 90%;
    margin-left: 5%;
    border: none 2px green;
    text-align: center;
}

footer #footer_tabelation_div .footer_columns{
    position: relative;
    display: inline-block;
    width: 150px;
    max-width: 99%;
    height: auto;
	margin:0.5%;
	padding: 0.5%;
	font-size: 100%;
    font-weight: bold;
    word-wrap: break-word;
    border: none 2px white;
    vertical-align: top;
    text-align: left;
}

footer #footer_tabelation_div .footer_columns .column_title{
    color: #ffeecc;
    font-size: 11px;
}

footer #footer_tabelation_div .footer_columns .footer_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: Courier New;
	font-size: 11px;
    word-wrap: break-word;
    width: auto;
}

footer #footer_tabelation_div .footer_columns .footer_list li
{
    white-space: pre-wrap; /*this will allow having empty elements in the list*/
    word-wrap: break-word;
    width: auto;
    margin-bottom: 5px;
}

footer #footer_tabelation_div .footer_columns .footer_list li a{
	font-family: Courier New;
	font-size: 11px;
	animation-name: footer_link;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	text-decoration:none;
}

footer #footer_tabelation_div .footer_columns .footer_list li a:hover{
    color: yellow; /*-> color is set via class .outer_href */
    animation-duration: 0s;
}

@keyframes footer_link{
	0%{color:white;}
	50%{color:silver;}
	100%{color:lightblue;}
}

/*This is for Catalogue/Video/Game pages*/
#page_block{
	padding-bottom:10px;
    margin: 0.5vw;
    margin-bottom: 5px;
	width:auto;
	border-style:solid;
	border-bottom-color:black;
	border-width: 1px;
    border-radius: 20px;
	box-shadow: inset 1vw 1vw 0.5vw lightgray;
}

#page_block p{
	padding:20px;
	border-style:solid;
	width:90%;
	margin-left:20px;
	font-family: Consolas;
	font-size:1vw;
}

#page_block h2{
    position:relative;
    width:98%;
	padding: 1% 0%;
	padding-left: 2%;
	margin: 0px;
	margin-bottom: 0.5%;
	top:0vw;
	color:white;
    border-bottom-style:solid;
	border-width:2px;
	border-color:black;
    border-radius: 20px;
	font-family:FjallaOne;
	font-size: 24px;
	background-color:#995500;
	text-shadow: 2px 3px black;
    word-wrap:break-word;
}

#page_block h2 a{
	text-decoration:none;
	text-shadow: none;
	color: lightblue;
	text-shadow: 2px 3px black;
}

#page_block h2 a:hover{
	color: pink;
}

#page_block #content_table
{
	width:90%;
}

#page_block #content_table td:first-child /*accessing first column*/
{
	width:90%;
    background-image: repeating-radial-gradient(farthest-side at 80% 45%, rgba(255,0,0,0.2), rgba(255,255,255,0.1));
    border: inset 0.5vw rgba(0,0,0,0.1);
    border-radius: 20px;
}

#page_block #content_table td:nth-child(2) /*accessing second column*/
{
	width:90%;
    background-image: repeating-radial-gradient(farthest-side at 20% 45%, rgba(0,0,255,0.3), rgba(255,255,255,0.1));
    border: inset 0.5vw rgba(0,0,0,0.1);
    border-radius: 20px;
}

#catalogue_div_right{
	position:relative;
    width:27vw;
	height:auto;
	margin:1vw; 
	padding:1vw;
	opacity:0.7;
}

#catalogue_div_right img{
	position:relative;
	bottom:0%;
	width:100%;
}

#catalogue_div_left{
	position: relative;
    width:60vw;
	min-height:30vw;
    height: auto;
    margin:1vw; 
	padding:1vw;
	background-color:transparent;
	opacity:0.7;
	text-shadow: 0.1vw 0.1vw black;
	text-align:left;
    word-wrap: break-word;
}

#catalogue_div_left h2{
	font-family: ZenDots;
	color: blue;
    font-size: 1.8vw;
}

#catalogue_div_left h2 b{
	color: pink;
}

#catalogue_div_left a{
	color: red;
	font-family: ZenDots;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
#catalogue_div_left a:hover{
	color: blue;
}

.content_list /*part of #catalogue_div_left*/
{
	list-style-type: none;
	margin: 5px;
	padding: 0px;
}

.content_list  li
{
    margin-bottom: 10px;
}

/*Adding custom font*/

@font-face {
    font-family: FjallaOne;
    src: url("../../global/fonts/FjallaOne-Regular.ttf");
}

@font-face {
    font-family: ZenDots;
    src: url("../../global/fonts/ZenDots-Regular.ttf");
}

@font-face {
    font-family: ZenTokyoZoo;
    src: url("../../global/fonts/ZenTokyoZoo-Regular.ttf");
}