/*GLOBALS STYLING*/
:root {
    --darkbrown-color: #484237; /* Example: A blue color */
    --darkred-color: #b6042a; /* Example: A light gray color */
    --darkblue-color: rgba(0,0,250,1.0); /* Example: A light gray color */
    
    --header-footer-color: rgba(255,255,255,0.9);
    --header-footer-border-style: solid 5px rgba(0,0,0,0.1) ;
    --header-footer-background-image: url("../images/header_footer_texture.jpg");
    --header-footer-background-blend-mode: overlay;
    --header-footer-background-repeat: repeat;
    --header-footer-background-position: center;
    --header-footer-background-size: 500px;

    --big-header-font: italic bold 1.6rem/1.2 Calibri, serif;
    --big-header-font-letter-spacing: 1px;
    --intro-message-font: italic normal 1.3rem/1.7 Georgia, serif;
    --paragraph-font: normal normal 1.1rem/1.8 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
    --paragraph-header-font: normal bold 1.4rem/1.8 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
    --mini-font: normal normal 80%/1.4 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
    --menu-title-font: normal normal 1.0rem/1.2 Calibri, serif; /*italic bold 16px/1.5 Georgia, serif*/
    --menu-font: normal normal 1.0rem/1.4 Calibri, serif; /*italic bold 16px/1.5 Georgia, serif*/
    --code-font: normal normal 1.0rem/1.4 Consolas, serif; /*italic bold 16px/1.5 Georgia, serif*/
    --site-description-font: normal normal 0.7rem/1.1 ZenDots, serif;
    --site-title-font: normal bold 1.3rem/1.2 FjallaOne, serif;
    --navigation-font: normal normal 1.0rem/1 FjallaOne, serif;
    --navigation-icon-font: normal normal 1.5em/1 FjallaOne, serif;
    
    --background-gradient: linear-gradient(to bottom, #ffffff, rgba(0,0,255,0.01));
}


@media (max-width: 768px) {
    :root
    {
        --big-header-font: italic normal 1.2rem/1.0 Calibri, serif;
        --intro-message-font: italic normal 1rem/1.6 Georgia, serif;
        --paragraph-font: normal normal 1rem/1.6 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --paragraph-header-font: normal bold 1.2rem/1.2 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --menu-title-font: normal bold 1.0rem/1.1 Calibri, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --menu-font: normal normal 0.9rem/1.3 Calibri, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --code-font: normal normal 0.9rem/1.4 Consolas, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --site-description-font: normal normal 0.7rem/1.1 ZenDots, serif;
        --site-title-font: normal bold 1.2rem/1.2 FjallaOne, serif;
        --navigation-font: normal normal 0.9rem/1 FjallaOne, serif;
        --navigation-icon-font: normal normal 1.2em/1 FjallaOne, serif;
    }
}

@media (max-width: 480px) {
    :root
    {
        --big-header-font: italic normal 1rem/1.0 Calibri, serif;
        --intro-message-font: italic normal 0.8rem/1.5 Georgia, serif;
        --paragraph-font: normal normal 0.9rem/1.4 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --paragraph-header-font: normal bold 1.2rem/1 Georgia, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --menu-title-font: normal bold 0.9rem/1.0 Calibri, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --menu-font: normal normal 0.8rem/1.2 Calibri, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --code-font: normal normal 0.8rem/1.4 Consolas, serif; /*italic bold 16px/1.5 Georgia, serif*/
        --site-description-font: normal normal 0.6rem/1.1 ZenDots, serif;
        --site-title-font: normal bold 1.1rem/1.2 FjallaOne, serif;
        --navigation-font: normal normal 0.8rem/1 FjallaOne, serif;
        --navigation-icon-font: normal normal 0.9em/1 FjallaOne, serif;
    }
}

body{
    background-color:white;
    font-family: Georgia, Calibri, Tahoma;
    margin:0%;
    padding:0%;
}

header{
    /*Sticky navbar*/
    position:sticky;
    top: 0;
    z-index: 1; /*the rest of the body will not overlap over the header when scrolling*/
    
    width:100%;
    height:fit-content;

    padding:0px 3%;
    padding-bottom:0px;
    margin:0%;

    /*background-image: linear-gradient(to right, #aa7700, #995500);*/
    background-color: var(--header-footer-color);
    background-image: var(--header-footer-background-image);
    background-blend-mode: var(--header-footer-background-blend-mode); /* Blend the image and color */
    background-repeat: var(--header-footer-background-repeat);
    background-position: var(--header-footer-background-position);
    background-size: var(--header-footer-background-size);
    
    display: flex;
    
    flex-wrap: wrap; /*this wrap will ensure the elements are displayed one on top of the other in case the viewport gets smaller*/
    word-wrap: break-word;
    border: none 0px black;
    border-bottom: var(--header-footer-border-style); 
    /*overflow: hidden;*/ /*Overflow should be allowed because we have a dropdown menu*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

header #header_title{
    position: relative;
    width:auto;
    height: auto;
    padding: auto;
    margin:auto ;
    word-wrap: break-word;
    border: none 1px black;
    display: flex;
    flex: 0 1 auto; /* do not grow/shrink, 20% of row */

}

header #header_title #logo_div {
    position: relative;
    padding: 2%;
    margin: 0%;
    margin-left: 0%;
    width: 40px;
    height: auto;
    margin-right: 0vw;
    border: none 1px black;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@media (max-width: 768px) {
    header #header_title #logo_div {
        width: 40px;
    }
}

@media (max-width: 480px) {
    header #header_title #logo_div {
        width: 35px;
    }
}

header #header_title #logo_div #logo{
    position: relative;
    width: 100%;
}

header #header_title #title_and_description_div {
    position: relative;
    padding: auto 0px;
    margin: auto;
    width: auto;
    height: auto;
    border: none 1px red;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

header #header_title #title_and_description_div #page_title{
    position: relative;
    text-align: center;
    font: var(--site-title-font);
    font-variant: small-caps;
    letter-spacing: 2px;
    margin: 0%;
    text-shadow: 0px 0px #eeeeee;
    width: fit-content;
    border: none 0px black;
    text-align: left;
    word-wrap: break-word;
    color: black;
}

header #header_title #title_and_description_div #page_description{
    position: relative;
    text-align: center;
    font: var(--site-description-font);
    font-variant: small-caps;
    letter-spacing: 1px;
    /*color: #ffeecc;*/
    color: #b6042a;
    margin: 0%;
    text-shadow: 0px 0px #eeeeee;
    opacity: 100%;
    width: fit-content;
    border: none 0px black;
    text-align: left;
    word-wrap: break-word;
}

nav{
    position: relative;
    /*setting width and height for the element will help maintaing the proper ratio for elements with size in % or vw*/
    width:auto;
    height: fit-content; 
    /*margin-top: -1px;*/ /*with this negative margin the nav will overlap over the header element that is on top of it*/
    margin-bottom: 0px;
    /*background-image: linear-gradient(to right, #aa7700, #995500);*/
    background: transparent;
    border: none 2px black;
    text-align: center;
    font: var(--navigation-font);

    /* flex-grow: 2, flex-shrink: 1, flex-basis: 70% */
    flex: 2 1 70%; /*the percentage within the flex row allocated for this element*/
    
    display: flex;           /* arrange menu items in a row */
    flex-wrap: wrap;         /* allow wrapping if viewport is small */
    justify-content: center;   /* <-- this centers the menu items */
    gap: 5px;                /* spacing between items */
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

nav div{

    max-width: 90%;
    padding: 3px;
    margin: 2px 0px;
    word-wrap:break-word;
    border: none 2px black;
    display: inline-block;
}

nav div .link_icon{
    font: var(--navigation-icon-font);
    display:block;
    padding: 0px;
    padding-bottom: 3px;
}

nav .menu_page_item {
    flex: 0 0 160px;         /* fixed width for uniform size */
    display: flex;           /* allows icon + text vertically aligned */
    flex-direction: column;  /* icon above text */
    align-items: center;     /* center content horizontally */
    padding: 1px;
    box-sizing: border-box;
    border: none 2px blue;
    position: relative;      /* for dropdown positioning */
}


.outer_href{
    position: relative;
    display: block;
    text-decoration: none;
    margin:0%;
    color:var(--darkbrown-color);
    text-shadow: 2px 2px #eeeeee;    
    letter-spacing: 0.5px;
    background-color: rgba(0,0,0,0.0);
    text-decoration:none;
    text-align: center;
    padding: 0px;
    word-wrap:break-word;
    max-width: 100%;
    border: none 2px red;
    width: 100%;
}

.outer_href:hover{
    color:gray;
}


.dropdown_menu {
    position: relative;
    display: inline-block;
    height:auto;
    border: none 2px red;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.dropdown_content{
    display: none;
    position: absolute;
    top:90%;
    background-color: #f1f1f1;
    min-width: 200px;
    max-width: 100%;
    left: -25%; /*-50% so that it will be centered*/
    z-index: 1;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    font-family: ZenDots;
    font-weight: normal;
    border: groove 2px rgba(0,0,0,0.1);
}

.dropdown_content  a {
    color: black;
    padding: 8px 2px;
    text-decoration: none;
    display: block;
}

.dropdown_content .dropdown_content_separator
{
    padding:0px;
    margin:3px auto;
    border-bottom: ridge 2px rgba(120,0,0,0.8);
    display: block;
    width: 100%;
}

/*
nav div:hover{
    background-color: rgba(0,0,0,0.1);
}

.dropdown_content:hover{
    background-color: white;
}*/

.dropdown_content a:hover {background-color: var(--darkred-color); color: white;}

.dropdown_menu:hover .dropdown_content {display: block;}

.fading_paragraph
{

    position: relative;
    word-wrap: break-word;
    
    margin: 1px auto;
    padding: 1%;
    text-align: center;
    font: var(--intro-message-font);
    width: 90%;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.fading_paragraph.fade-out {
    opacity: 0;
}

.fading_paragraph {
    transition: opacity 0.5s ease-out;
}

.fading_paragraph #heading{
    width: fit-content;
    text-align: left;
    font: var(--navigation-font);
    color: var(--darkred-color);
    font-weight: normal;
}

.fading_paragraph .title
{
    padding: 0px;
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 3%;
    font: var(--big-header-font);
    text-align: center;
    color: var(--darkred-color);
    letter-spacing: var(--big-header-font-letter-spacing);
    text-shadow: 0.5px 1px pink;
    border: none 0px black;
}

.fading_paragraph .message
{
    position: relative;
    width: 100%;
    margin: 0px;
    margin-bottom: 1%;
    padding: auto;
    font: var(--intro-message-font);
    text-align: center;
    border: none 0px black;
}

.scale_scroll_img_anim .img_wrapper img {
    transform: scale(0.6);
    transition: transform 3s ease;
}

.scale_scroll_img_anim.visible .img_wrapper img {
    transform: scale(1);
}

.hover_scale {
    transition: transform 0.5s ease; /* smooth animation */
    display: inline-block;           /* ensures transform works properly */
}

.hover_scale:hover {
    transform: scale(1.1);        /* rotate 10 degrees on hover */
}

/* Style the truncated elements */
.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 10; /* show only 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Style the button for Show More/Show Less */
.show_more_less_toggle_button {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.35em 1em;
    border: none;
    border-radius: 25px;
    background-color: rgba(150,0,0,0.7);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.show_more_less_toggle_button:hover {
    background-color: #666;
    transform: translateY(-2px);
}

.required{
    color: red;
    font-weight: bold;
}

ul.custom_bullets_list{
    list-style: none; /* remove default bullets */
    padding-left: 0;
}

ul.custom_bullets_list li {
    background: url("../images/sharp_sign.png") no-repeat left center;
    background-size: 16px 16px;  /* control bullet size */
    padding-left: 28px;         /* space for the bullet */
    margin-bottom: 8px;
    border-bottom: dotted 2px rgba(0,0,0,0.1);
}

footer{
    height:auto;
    /*background-image: linear-gradient(to right, #aa7700, #995500);*/
    background-color: var(--header-footer-color);
    background-image: var(--header-footer-background-image);
    background-blend-mode: var(--header-footer-background-blend-mode); /* Blend the image and color */
    background-repeat: var(--header-footer-background-repeat);
    background-position: var(--header-footer-background-position);
    background-size: var(--header-footer-background-size);
    width:100%;
    display:block;
    color:black;
    border: none 0px black;
    border-top: var(--header-footer-border-style);
    border-bottom: var(--header-footer-border-style);
    margin: 0%;
    padding: 0%;
    font-family: Georgia;
    font-size: 14px;
    /*box-shadow: inset 5px 5px 5px #884400;*/
}

footer h4{
    text-align:center;
    color: black;
    font-family: Rockwell;
    font-weight: normal;
    font-size: 90%;
    word-wrap:break-word;
    text-shadow: 0px 0px gray;
}

footer h5{
    text-align:center;
    color: black;
    width:80%;
    margin-left:10%;
    padding: 2px;
    font: var(--mini-font);
    word-wrap:break-word;
    text-shadow: 0px 0px gray;
}

footer #footer_tabelation_div{
    position: relative;
    width: 90%;
    margin-left: 5%;
    border: none 2px green;
    text-align: center;
}

footer #footer_tabelation_div .footer_columns{
    position: relative;
    display: inline-block;
    width: 200px;
    max-width: 99%;
    height: auto;
    margin:0.5%;
    padding: 0.5%;
    font-weight: normal;
    word-wrap: break-word;
    border: none 2px white;
    vertical-align: top;
    text-align: center;
}

footer #footer_tabelation_div .footer_columns .column_title{
    color: black;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0px 0px gray;
}

footer #footer_tabelation_div .footer_columns .footer_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 13px;
    word-wrap: break-word;
    width: bold;
}

footer #footer_tabelation_div .footer_columns .footer_list li
{
    white-space: pre-wrap; /*this will allow having empty elements in the list*/
    word-wrap: break-word;
    width: auto;
    margin-bottom: 5px;
}

footer #footer_tabelation_div .footer_columns .footer_list li a{
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    color: var(--darkbrown-color);
    text-shadow: 1px 1px #ffeecc;
    /*
    animation-name: footer_link;
    animation-duration: 4s;
    animation-iteration-count: infinite;*/
    text-decoration:none;
}

footer #footer_tabelation_div .footer_columns .footer_list li a:hover{
    color: gray; /*-> color is set via class .outer_href */
    animation-duration: 0s;
}

/*
@keyframes footer_link{
    0%{color:white;}
    50%{color:silver;}
    100%{color:lightblue;}
}*/

/*This is for Catalogue/Video/Contact/About/Portal pages*/

#page_block {
    position: relative;
    width: 99%;
    color: black;
    border: none 0px #995500;
    margin: auto;
    background: var(--background-gradient);
    word-wrap: break-word;
    height: auto;
    top: 0px;
    box-shadow: none;
    
    font-family: Georgia;
    font-size:14px;
    
    text-shadow: 0px 0px black;
    font-weight: normal;
}

/*This is the h2 element displaying the page title*/
#page_block h2{
    position:relative;
    width:fit-content;
    padding: 10px;
    margin: 0px auto;
    color:var(--darkred-color);
    border:none 2px black;
    border-radius: 5px;
    font-family:FjallaOne;
    font-size: 1rem;
    font-weight: normal;

    text-align: center;
    letter-spacing:2px;
    word-wrap:break-word;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block a{
    text-decoration:none;
    color: blue;
    text-shadow: 0px 0px black;
}

#page_block a:hover{
    color: red;
}

/*subscript/supscript elements style*/
sub, sup{
    font-size: 60%; 
    color: gray;
    font-variant: normal;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 10px;
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* For modern browsers */
    white-space: normal; /* Allow normal whitespace handling */
}

/*Resizing the h2 elements displaying page title*/

@media (max-width: 768px) 
{
    #page_block h2
    {
        font-size: 1rem; /* Smaller size for tablets */
    }
}

@media (max-width: 480px) 
{
    #page_block h2
    {
        font-size: 0.9rem; /* Smaller size for mobile */
    }
}

/*Adding custom font*/

@font-face {
    font-family: FjallaOne;
    src: url("../../global/fonts/FjallaOne-Regular.ttf");
}

@font-face {
    font-family: ZenDots;
    src: url("../../global/fonts/ZenDots-Regular.ttf");
}

@font-face {
    font-family: ZenTokyoZoo;
    src: url("../../global/fonts/ZenTokyoZoo-Regular.ttf");
}