#app_page_content
{
    position:relative;
    /*box-shadow: 0 -2px 6px rgba(0,0,0,0.1);*/
    /*background-color: var(--light-gray-color);*/
    height: auto;
    min-height: 30vw;

    border: none 2px red;
    
    display: flow-root; /*fixes problems with margins collapsing*/
}

#page_content header{
    position: relative !important;
    z-index: 0 !important;
    border: none 1px green !important;
}

.dropdown-content a 
{
    color: black !important;
}