#page_block #game_content
{
    position:relative;
    display: flex;
    flex-direction: row;
    
    /*justify-content: center;
    align-items: center;*/
    
    gap: 20px; /* ?? equal spacing between ALL children */
    float: left;
    width:50%; /* the width of game_content is also influenced by width of game_div*/

    padding: 0%;

    background-image: url(tetris_page_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border: ridge 2px rgba(0,0,0,0.3);
    border-radius: 1vw;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div
{
    position: relative;
    width: fit-content;

    height:fit-content;
    margin: 1% 2%;
    padding: 0%;
    border: none 0px red;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div table
{
    position: relative;

    height: auto;
    padding:0px;
    
    border: solid 2px blue;
    border-spacing: 2px;
    
    opacity: 0.9;
    word-wrap: break-word;
    
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;
}

#game_div table tr td{
    padding-top: 1.9vw;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat; 
    background-size: 100%;

    border: solid 1px black;
}

/*game_div uses game_div_fullscreen class on fullscreen*/
#game_div.game_div_fullscreen table tr td{
    padding-top: 3vw;
}

@media (max-width: 768px) {
    #game_div table tr td{
        padding-top: 2.5vw;
    }
}

@media (max-width: 480px) {
    #page_block #game_content{
        flex-direction: column;
        align-items: center;
    }
    
    #game_div.game_div_fullscreen table tr td{
        padding-top: 5vw;
    }
}

#gameHud{
    position: relative;
    display:flex;
    flex-direction: column; /* 👈 This makes it vertical */

    overflow: hidden;
    padding: 2px;
    width: fit-content;

    margin: 1%;
    height: fit-content;
    border: none 2px white;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#gameHud #score
{
    position: relative;
    text-align: left;
    color: black;
    padding: 2%;
    font-weight: bold;
    font-family: Consolas;
    font-size: 15px;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    
    border: none 1px gray;
    margin: 2px 0px;
    background-color: rgba(255,255,255,0.5);
    
    width: 100%;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#gameHud #gameStatus
{
    background-color: rgba(0,0,255,0.2);
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
    width: 90%;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    margin: 10px auto;
}

#menu{
    position: relative;
    width: 100%;
    padding:2px 0px;
    border: none 1px black;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#controls{
    position: relative;
    width: 100%;
    border-style: none 1px red;

    padding: 2px 0px;
    margin: 5px 0px;
}

/*The button container divs will help styling the buttons inside as flex elements which 
will allow them better responsiveness on extreme small viewports*/
.button_container
{
    display: flex;
}

#restartgame, #startgame, #fullscreen{
    margin: 2px auto;
    width: 100px;
    font-variant: small-caps;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    padding: 2px 0px;
}

#rotate{
    position: relative;
    background-color: red;
    border: solid 1px black;
    color: white;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    font-variant: small-caps;
    padding: 5px;
    margin: 5px auto;
    width: fit-content;
}

#right, #left, #down {
    position:relative;

    background-color: white;
    border: solid 1px black;

    color: black;
    font-size: 15px;
    font-family: Arial;
    font-variant: small-caps;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    width: 46%;
}

#down
{
    margin-left: 27%;
}

#author
{
    position: relative;
    border: inset 0px blue;
    border-radius: 10px;
    color: blue;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    margin: 5% 0%;
    padding: 2%;
    width: 100%;
    line-height: 1.2; /*the line height is proportional to the font*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

