<!DOCTYPE html>
<html>
<head>
	<title>Portofolio</title>
	<meta charset = "UTF-8">
	<link rel="stylesheet" href="../css/externalcss.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body  ng-app="myApplication" ng-controller="Controller">
	<header>
		<div id="header_title">
			<h2>Portofolio</h2>
		</div>
		<div id="navigation"> <!-- A class should be used when elements of same class would share the same
style, an id is used as an unique identifier, for a particular object.		-->
		<nav>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../contact.html">Contact</a></li>
				<li><a href="../about.html">About</a></li>
			</ul>
		</nav>
		</div>
	</header>
	<div id="page_block">
		<h2><a href = "../catalogue.html">Catalogue</a> : Unity & C#</h2>
		<table>
			<tr>
				<th>
					<div id ="specific_catalogue_div_right">
						<table id = "content_table">
							<tr><a href = "" ng-click="page = 1;" >Java Drag Racing Simulator Presentation Video</a><br></tr>
							<tr><a href = "" ng-click="page = 2;" >Java MP3 Player Presentation Video</a><br></tr>
						</table>
					</div>
				</th>
				<th >
					<div id="specific_catalogue_div_left" ng-switch="page">
						<div ng-switch-when="1">
							<video controls autoplay muted style="width: 100%; height:100%;">
								  <source src="Java Drag Racing Simulator.mp4" type="video/mp4">
								  <source src="Java Drag Racing Simulator.ogg" type="video/ogg">
							Your browser does not support the video tag.
							</video>
						</div>
						<div ng-switch-when="2">
							<video controls autoplay muted style="width: 100%; height:100%;">
								  <source src="Java MP3 Player.mp4" type="video/mp4">
								  <source src="Java MP3 Player.ogg" type="video/ogg">
							Your browser does not support the video tag.
							</video>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<script>
	var app = angular.module('myApplication', []);
	var number1;
	app.controller('Controller', function($scope) {
		//Initializing the models;
		$scope.page=0;
	});
	</script>
	<footer>
		<h4>Dragos Vacariu &copy; 2017</h4>
		<h5>Portofolio</h5>
		<table>
			<th>Template:</th>
			<th>Connections: </th>
			<th>Tools Used:</th>
			<tr>
				<td><p>Author: Dragos Vacariu</p>
					<p>Design: 2017</p>
				</td>
				<td><p><a href="http://www.tutorialpoint.com">tutorial-point.com</a></p>
				</td>
				<td><p>HTML5</p>
					<p>HTML4</p>
					<p>CSS</p>
					<p>CSS3</p>
				</td>
			</tr>
		</table>
	</footer>
</body>
</html>