#page_block {
    background: 
        repeating-radial-gradient(farthest-side at 0% 0%, rgba(0,0,255, 0.01) 40%, rgba(255,255,255, 1)),
        repeating-radial-gradient(rgba(0,0,255, 0.01) 10%, rgba(255,255,255, 1));
    box-shadow: none;
}

#page_block h3{
	padding:0.5%;
	padding-left:2.5%;
	width:93%;
	margin-left:2%;
    font-family: FjallaOne;
	text-align: left;
	font-size:28px;
	text-shadow: 0.2vw 0.2vw white;
    letter-spacing: 0.2vw;
	color: #aa7700;
	/*background-image: linear-gradient(to right, #aa7700, #995500);*/
    border: ridge 0px rgba(255,255,255, 0.2);
    word-wrap: break-word;
    border-radius: 4vw;
}

#page_block p{
	padding:2%;
	border-style:solid;
	border-width: 0vw;
	border-color: black;
    border-radius: 4vw;
	width:92%;
	margin-left:2%;
	font-family: Times New Roman;
	font-size:18px;
	margin-bottom: 2%;
	color: black;
	text-shadow: 1px 1px white;
    word-wrap: break-word;
}

#page_block #introduction{
	padding:1%;
	border-style:solid;
	border-width: 0px;
	border-color: black;
	width:94%;
	margin-left:2%;
	font-family: Verdana;
	font-size:11px;
	margin-bottom: 1%;
	color: black;
    background-color: rgba(153,85,00, 0.1);
	text-shadow: 1px 1px white;
}

#page_block #about_me{
	background-color: rgba(200,200,200,0.3); /*gray*/;
}

#page_block #summary_description{
	background-color: rgba(250,200,100,0.3); /*light-brown*/;
}


#page_block #html_css_info{
	background-color: rgba(0,0,255,0.2); /*purple*/;
}

#page_block #javascript_info{
	background-color: rgba(255,0,0,0.3); /*pink*/

}

#page_block #c_language_info{
	background-color: rgba(0,255,0,0.3); /*green*/
}

#page_block #python_info{
	background-color: rgba(0,255,255,0.3); /*cyan*/
}

#page_block #cpp_info{
	background-color: rgba(255,0,255,0.3); /*magenta*/
}

#page_block #csharp_info{
	background-color: rgba(255,255,0,0.5); /*yellow*/
}

#page_block #unity_info{
	background-color: rgba(0,0,0,0.1); /*gray*/;
}

#page_block #java_info{
	background-color: rgba(120,50,120,0.2) /*purple-gray*/;
}


#page_block p .title{
	font-family: ZenDots;
	font-weight: bold;
	letter-spacing: 1px;
	font-size:20px;
	text-shadow: 1px 1px white;
}

#page_block p .header{
	font-family: FjallaOne;
	font-weight: bold;
	letter-spacing: 1px;
	font-size:16px;
	text-shadow: 1px 1px white;
    margin-bottom: 15px;

}