#page_block #content_table
{
    width:100%;
    margin: auto;
    /*background-color: rgba(255,255,255,0.8);
    background-image: url("../images/catalogue_left_column_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;*/
    
    border: none 2px blue;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block #content_table td /*td:first-child accessing first column*/
{
    width:100%;
    /*background-image: repeating-radial-gradient(farthest-side at 80% 45%, rgba(255,0,0,0.2), rgba(255,255,255,0.1));*/
    border: none 0vw rgba(0,0,0,0.1);
    border-radius: 20px;
    
    border: none 0px blue;
}

.fading_paragraph
{
    position: relative;
    word-wrap: break-word;
    
    margin: 5px auto;
    padding: 1%;
    width: 90%;
    border: solid 15px rgba(0,0,0,0.1);
    border-radius: 5vw;
    background-color: var(--header-footer-color);
    background-image: url("../../global/images/header_footer_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: var(--header-footer-background-size);
    background-repeat: repeat;
}

/*#page_block #content_table td:nth-child(2)*/ /*accessing second column*/
/*{
    width:90%;*/
    /*background-image: repeating-radial-gradient(farthest-side at 20% 45%, rgba(0,0,255,0.3), rgba(255,255,255,0.1));*/
    /*background-color: rgba(255,255,255,0.8);
    background-image: url("../images/catalogue_right_column_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;
    border: none 0vw rgba(0,0,0,0.1);
    border-radius: 20px;
}
*/

/*#catalogue_div_right{
    position:relative;
    width:27vw;
    height:auto;
    margin:1vw; 
    padding:1vw;
    opacity:0.7;
}


#catalogue_div_right img{
    position:relative;
    bottom:0%;
    width:100%;
}
*/

#catalogue_div_left{
    position: relative;
    width:auto;
    /*min-height:30vw;*/
    height: auto;
    margin:1vw; 
    padding:3vw;
    opacity:0.7;
    text-shadow: 0.1vw 0.1vw black;
    text-align:center;
    word-wrap: break-word;
    border: none 0px black;
    background-color:rgba(255,255,255,0.8);
    background-image: url("../images/catalogue_right_column_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;
}

#catalogue_div_left a{

    font-family: ZenDots;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/*part of #catalogue_div_left*/
.content_list 
{
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

.content_list  li
{
    margin-bottom: 10px;
}

@media (max-width: 768px) 
{
    #catalogue_div_left a, .content_list 
    {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 480px) 
{
    #catalogue_div_left a, .content_list 
    {
        font-size: 1.0rem;
    }
}