#content {
    position: relative;
    width: 96%;
    max-width:2600px;
    margin: auto;
    border: solid 0px black;
    background: var(--background-gradient);
}

#content .paragraph{
    border: none 0px black;
    border-bottom: ridge 3px rgba(0,0,0,0.3); 

    position: relative;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    word-wrap: break-word;
    font: var(--paragraph-font);
    width: 96%;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
}

#content #final_note
{
    width: 90%;
    margin: 10px 25px;
    padding: 0px;
    text-align: left;
    border: none 0px black;
    font: var(--paragraph-font);
}

.fading_paragraph
{
    margin: 2% auto;
    padding: 6%;
    border: none 0px black;
    border-radius: 5vw;
    background-image: url(../images/home_page_intro.jpg);
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: repeat;
    background-size: 100px;
}

#content .paragraph .section_header_paragraph
{
    padding: 0px;
    margin: 0px;
    font: var(--paragraph-header-font);
    text-align: left;
    color: rgba(143,55,0, 1);
    letter-spacing: 1px;
    text-shadow: 0.5px 1px pink;
}

#content .paragraph p
{
    position: relative;
    padding: 3px 0px;
    margin: 15px auto;
    overflow: hidden;
    display: block;
}

#content .paragraph .separator_p_element
{
    border-bottom: 2px dashed rgba(170,0,0,1.0);
    margin: 4px 0px;
}


#content .paragraph .img_wrapper{
    position: relative;
    display: block;       /* allows wrapping inside <p> */
    border: 5px groove rgba(220,0,0,1.0);
    background-color: rgba(255,255,0, 0.05);
    border-radius: 20px;
    padding: 2px;
    margin: 2px 7px;
    width: 150px;
    max-width: 100%;
}

#content .wrapper_float_left
{
    float: left;
}

#content .wrapper_float_right
{
    float: right;
}
#content .paragraph .img_wrapper img, #content .paragraph .sharp_wrapper img
{
    position: relative;
    border: 5px none rgba(0,0,0,0.2);
    width: 100%;
    margin: auto;
    padding: 0px;
}

#content .paragraph .sharp_wrapper{
    width: 30px;
    display: block;       /* allows wrapping inside <p> */
    border: 5px groove rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 0px;
    margin: 0px 2px;
}

@media (max-width: 768px) {
    #content .paragraph .img_wrapper {
        width: 120px;
    }
    #content .paragraph .sharp_wrapper{
        width: 25px;
    }
}

@media (max-width: 480px) {
    #content .paragraph .img_wrapper {
        width: 100px;
    }
    #content .paragraph .sharp_wrapper{
        width: 20px;
    }
}


#content .paragraph p a{
    display: inline;
    text-decoration: none;
    font-weight: normal;
    color: blue;
}

#content .paragraph p a:hover{
    color: red;
}

#content #text_div p, #content #text_div h2{
    position: relative;
    width: 100%;
    border: solid 0px black;
    text-align: left;
}

#content #text_div p{
    margin-top: 10px;
}

#reference{
    position: relative;  
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin: 0%;
    width: 100%;
    border: none 0px black;
}

.img_container{
    overflow: visible;
    position: relative; /*this will ensure the absolute elements are contained*/
    width:6%;
    min-width:50px;
    border: none 0px black;
    margin: auto;
    padding: 1%;
    border:solid 1px rgba(0,0,180,1);
    border-radius: 10vw;
}

.ref_pic{
    width:100%;
}

/*Tooltip is used for adding additional info on hovering on an element*/
.img_container tooltip{
    color: black;
    font: var(--mini-font);
    position: absolute;
    margin: 0%;
    /*Aligning the item with the parent*/
    /*width: 100%;*/
    max-width: none;
    top:100%;
    left: 0%;
    visibility: hidden;
    text-align: center;
    z-index: 1;
    padding: 5px;
    border-radius: 6px;
    white-space: normal;
    word-wrap: break-word;
    border: solid 1px black;
    /*background-image: linear-gradient(to right, white, #ffeecc);*/
    background-color: white;
    background-image: radial-gradient(circle, rgba(255,255,255,1.0), rgba(143,55,0, 0.05));
}

.img_container:hover tooltip {
    display: block;
    visibility: visible;
}
.img_container:hover{
    background-color: rgba(0,0,255,0.1);
}

/*End of tooltip*/