
#container{
	border-style:solid;
	border-color:black;
	border-width:0.1vw;
    border-radius: 20px;
	height: 22vw;
	margin: 0.2%;
	width: 99.6%;
    background-image: repeating-linear-gradient(to right, rgba(255,0,0,1), rgba(255,255,0,1), rgba(0,0,255,1));
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
#container #saying{
	position: relative;
	font-family: Verdana;
	font-size: 1vw;
	text-transform: uppercase;
	letter-spacing:0vw;
	text-shadow: -0.2vw 0,2vw #000000;
	color: #ff0000;
	text-align:right;
	right:21%;
	bottom:99%;
	opacity:1.0;
}

#container #heuristic{
	animation-name: color_animation_one;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

#container #problem{
	animation-name: color_animation_two;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

#container #solving{
	animation-name: color_animation_three;
    animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes color_animation_one {
    0%{color:#ff0000;}
	25%{color:#88ff00; }
	50%{color:#00ff00;}
	75%{color:#ff8800;}
	100%{color:#ffaaaa;}
}

@keyframes color_animation_two {
    0%{color:#ffffff;}
	25%{color:#ffaa00; }
	50%{color:#00ffaa;}
	75%{color:#00aaff;}
	100%{color:#aaaaff;}
}

@keyframes color_animation_three {
    0%{color:#00ff00;}
	25%{color:#00ff00; }
	50%{color:#00bbff;}
	75%{color:#bb00ff;}
	100%{color:#ffff00;}
}

*/
/*
#container #message{
	text-align:center;
	position:relative;
	left:60%;
	font-family: Consolas;
	font-size: 1vw;
	color: #ffffff;
	animation-name: move_animation;
    animation-duration: 10s;
	animation-iteration-count: infinite;
	width:35vw;
	text-shadow: 0.2vw 0.1vw #000000;
}

@keyframes move_animation{
    0%{left:1%; bottom: 35%; color:white; font-size: 1vw;}
    60%{left:1%; bottom: 90%; color:#00ff00; font-size: 1vw;}
	80%{left:1%; bottom: 35%; color:#ff44dd; font-size:0px;}
	100%{left:1%; bottom: 35%; color:white; font-size: 1vw;}
}

*/

#container img{
	position:relative;
	left:0px;
	opacity:0.7;
	width:100%;
	height:100%;
	border:none;
	object-fit: cover; /*this will make sure the object will not be stretched.*/
    border-radius: 20px;
}

#content {
    position: relative;
    width: 96%;
    max-width:2600px;
    margin: auto;
    border: solid 0px black;
}

#content .paragraph{
    border: none 0px black;
    border-bottom: ridge 3px rgba(0,0,0,0.3); 

    position: relative;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    word-wrap: break-word;
	font-family: Times New Roman;
    font-weight: normal;
	font-size:18px;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    line-height: 25px;
    width: 96%;
    
}

#content #final_note
{
    width: 90%;
    margin: 10px 25px;
    padding: 0px;
    text-align: left;
    border: none 0px black;
}

#content .paragraph .section_header_paragraph
{
    padding: 0px;
    margin: 0px;
    font-family: ZenDots;
    text-align: left;
    font-size:24px;
    color: rgba(143,55,0, 1);
    letter-spacing: 3px;
    text-shadow: 0.5px 1px pink;
}

#content .paragraph p
{
    padding: 0%;
    margin: 15px auto;
}

#content #text_div p, #content #text_div h2{
	position: relative;
	width: 100%;
    border: solid 0px black;
    text-align: left;
}

#content #text_div p{
    margin-top: 10px;
}


#reference{
	display: inline;
	padding: 0%;
    margin: 0%;
}

#reference table tr th{
	text-align:center;
	border:ridge 3px rgba(0,0,0,0.3);
    border-radius: 100px;
	padding:0%;
    vertical-align: top;
}

#reference table{
    border-collapse: separate;
    border-spacing: 2vw 0vw;
}

#reference table tr {
    background-image: repeating-linear-gradient(to right, rgba(255,0,0,0.1), rgba(255,255,0,0.1), 
    rgba(0,255,0,0.1), rgba(0,0,255,0.1), rgba(0,255,255,0.1), rgba(255,0,255,0.1));
}

#reference table{
	margin-left:auto;
	margin-right:auto;
	width:100%;
    max-width:1200px;
	padding:0%;
	border: none 1px black;
    margin-bottom: 1%;
    table-layout: fixed;
    word-wrap: break-word;
}

#reference table th div p 
{
    font-family: ZenDots;
	font-size: 50%;
    color: black;
	width:auto;
	word-wrap: break-word;

}
#reference table th div
{
    margin: auto;
    padding: 5%;
}

.ref_pic{
	width:100%;
	/*box-shadow:1vw 1vw 0.5vw lightgray;*/
}