#page_block h4{
    position:relative;
    width:98%;
    height: auto;
    top:0%;
    margin-left:1%;
    margin-top:1%;
    text-align: center;
    border-style:solid;
    border-width:0.2vw;
    border-color:black;
    font-family:Verdana;
    font-size:14px;
    color:#663300;
    background-color: rgba(153,85,00, 0.1);
    background-image: linear-gradient(to right, rgba(153,85,00, 0.1), rgba(153,85,0, 0.3));
    text-shadow: 1px 1px white;
    box-shadow: 0.1vw 1vw 0.5vw lightgray;
    word-wrap: break-word;
}

#page_block h4 p{
    font-family:Verdana;
    font-size:16px;
    color: #221100;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: 1vw;
    text-shadow: 1px 1px white;
}

#page_block h4 info{
    font-family:Tahoma;
    font-size:14px;
    color: #221100;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: 10px;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

#page_block h4 info a{
    font-family:Tahoma;
    color: darkgreen;
    border-style: none;
    text-decoration: none;
}

#page_block h4 info a:hover{
    color: darkblue;
}

#page_block h4 q{
    font-family:Calibri;
    font-size:15px;
    color: #221100;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: 10px;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

#page_block h4 q:before {
  content: none;
}

#page_block h4 q:after {
  content: none;
}

#page_block h4 q blue{
    font-family: Consolas;
    font-size:12px;
    color: blue;
}

#page_block h4 .selection_title{
    font-family:Verdana;
    font-size:16px;
    color: #775500;
    border-style: none;
    margin: 0%;
    padding: 10px;
    text-shadow: 1px 1px white;
}

#page_block h4 form{
    padding: 0%;
    margin: 0%;

}

#page_block #menu {
    position: relative;
    width: 98%;
    font-family:Verdana;
    font-size:16px;
    color: #005500;
    margin: 0%;
    margin-left: 1%;
    margin-top: 3%;
    text-shadow: 1px 1px white;
    list-style: none;
    padding: 0%;
}

.selection_list {
    position: relative;
    width: 100%;
    padding: 0%;
    margin-left: 1%;
    list-style: none;
    margin:1px;
    padding: 0.2vw;
    text-align: left;
    word-wrap: break-word;
}

.selection_list li{
    display: inline-block;
    width: auto; 
    max-width: 100%;
    list-style: none;
    text-align: left;
    margin-right: 0.2vw;
    border: solid 1px white;
    padding: 0.5vw;
    background-image: linear-gradient(to right, white, #ffeecc);
    font-size: 12px;
    font-family:Georgia;
    color: #995500;
    text-shadow: 0px 0px white;
    word-wrap: break-word;
    cursor: pointer;
}

#page_block #table_content{
    background-color: rgba(255,255,255, 0.3);
    width: 100%; 
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word;
}

#page_block #table_content tr td{
    border: none 2px black; /*value of this property will affect the code table also*/
    padding: 0.5vw 1vw;
}

#page_block #paragraph_content{
    background-color: rgba(255,255,255, 0.3);
    position: relative;
    width: 98%; 
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0%;
    border: solid 1px white;
}

#page_block #paragraph_content p{
    position: relative;
    width: auto; 
    word-wrap: break-word;
}

#page_block code{
    font-family: Consolas;
    font-size: 16px;
    white-space: pre-wrap;
    color: blue;
}

#page_block code table{
    border: none 0px black;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    padding:0px;
    margin: 0px;
    height: auto;
}
#page_block code table td{
    text-align: left;
    border: none 0px black !important; /* This will override inline style set to code table directly within the xml*/
    /*properties set explicitly within the script
    padding: 0px;
    margin: 0px;
    width: auto;
    */
}

#page_block code table td:nth-child(1){
    text-align: left;
    border: none 0px black !important; /* This will override inline style set to code table directly within the xml*/
    background-color: white;
    /*properties set explicitly within the script
    padding: 0px;
    margin: 0px;
    width: auto;
    */
}

#page_block code table td:nth-child(2){
    padding-left: 10px !important; /* This will override inline style set to code table directly within the xml*/
}

#page_block code box{
    background-color: rgba(255,255,255,0.4);
    border: 1px solid black;
    display: block;
    padding: 0px;
    margin: 15px 0px;
}

#page_block code lineNumber {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: black;
  margin:0px;
  padding:0px;
  font-family: Courier New;
  height: auto;
}

#page_block code comment{
    color: #aa0000;
}

/*Color styles for various words and expressions*/
#page_block red{
    font-family:Calibri;
    font-size: 18px;
    color: #dd0000;
}

#page_block azure{
    font-family:Calibri;
    font-size: 18px;
    color: #008080;
}

#page_block purple{
    font-family:Calibri;
    font-size: 18px;
    color: #aa00cc;
}

/*Header styles for various and titles and sentences*/
#page_block brown{
    /*brown header*/
    /*brown is more like black*/
    color: #221100;
    font-family: Tahoma;
    font-size: 16px;
    text-shadow: 0.5px 0.5px white;
    background-color: rgba(255,255,0,0.3);
    padding: 2px;
    border: solid 1px rgba(0,0,0,0.1);
    line-height: 25px;
}

#page_block indigo{
    /*indigo header*/
    color: rgba(0,0,100,1.0);
    font-family: Tahoma;
    font-size: 15px;
    text-shadow: 0.5px 0.5px white;
    background-color: rgba(100,255,255,0.1);
    padding: 2px;
    border: groove 0px rgba(0,0,0,0.1);
    line-height: 22px;
}

#page_block green{
    /*green header*/
    color: #007700;
    font-family: Tahoma;
    font-size: 18px;
}

#page_block bold{
    font-weight: bold;
}

#page_block highlight{
    font-weight: bold;
    color: red;
    font-family: Verdana;
}

#page_block .database_image{
    width: 80%; 
    position: relative; 
    left: 10%;
}

#page_block enum
{
    display: block;
    position: relative;
    margin: 5px 3%;
    padding: 2px;
    padding-left: 5px;
    font-family: inherit;
    font-size: inherit;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    color: #663300; 
    text-align: left; 
    width: 94%; 
    background-color: rgba(255,255,255,0.2);
    border: none 0px black;
}

#page_block enum::before
{
    content: "-> ";
    font-size: inherit;
    font-weight: inherit;
}

#page_block enum enum::before
{
    content: "- ";
    font-size: inherit;
    font-weight: inherit;
    color: black;
}