#page_block h4{
    position:relative;
    width:100%;
    height: auto;
    top:0%;
    margin: auto;
    text-align: center;
    border: ridge 2px rgba(0,0,0,0.4);
    border-radius: 5vw;
    font-family:Verdana;
    font-size:14px;
    color:#663300;
    background-color: var(--header-footer-color);
    /*background-color: rgba(153,85,00, 0.1);
    background-image: linear-gradient(to right, rgba(153,85,00, 0.1), rgba(153,85,0, 0.3));*/
    text-shadow: 0px 0px black;
    word-wrap: break-word;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.fading_paragraph{
    margin: 0% auto;
    padding: 6%;
    border-bottom: groove 0.5vw rgba(0,0,0,0.1);
    border-radius: 5vw;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: repeat;
    background-size: 100px;
}

#database_info{
    position:relative;
    width: 100%;
    margin: auto;
    padding: 1%;
    text-align: center;    
    color: black;
    font: var(--mini-font);
    background-image: radial-gradient(circle, rgba(255,255,255,0.1), rgba(143,55,0, 0.05))
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#database_info info{
    color: #221100;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: 10px;
    text-shadow: 0px 0px black;
    text-decoration: none;
}

#database_info q{
    color: black;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: auto;
    text-shadow: 0px 0px black;
    text-decoration: none;
}

#database_info q:before {
  content: none;
}

#database_info q:after {
  content: none;
}

#page_block #database_info q blue{
    position: relative;
    
    /*Overwriting parent properties*/
    font-family: Consolas;
    font-weight: bold;
    color: rgba(255,0,0,1.0);
}

#page_block h4 .selection_title{
    font-family:Verdana;
    font-size:16px;
    color: #775500;
    border-style: none;
    margin: 0%;
    padding: 10px;
    text-shadow: 1px 1px white;
}

#page_block h4 form{
    padding: 0%;
    margin: 0%;

}

#page_block #menu {
    position: relative;
    width: 98%;
    font-family:Verdana;
    font-size:16px;
    color: #005500;
    margin: 0%;
    margin-left: 1%;
    margin-top: 1%;
    text-shadow: 1px 1px white;
    list-style: none;
    padding: 0%;
}

#page_block #menu #li_separator
{
    font: var(--menu-title-font);
    color: var(--darkblue-color);
    font-variant: small-caps;
    text-align: left;
    border-bottom: groove 2px rgba(0,0,0,0.2);
    margin: 5px;
}


.selection_list {
    font: var(--menu-title-font);
    color: var(--darkblue-color);
    font-variant: small-caps;
    
    position: relative;
    width: 100%;
    padding: 0%;
    margin-left: 1%;
    list-style: none;
    margin:1px;
    padding: 0.2vw;
    text-align: left;
    word-wrap: break-word;
}

.selection_list li{
    display: inline-block;
    width: auto; 
    max-width: 100%;
    list-style: none;
    text-align: left;
    margin: 0.1vw;
    
    /*The script will overwrite many of these properties by setting the style 
    of li elements to tag_selection_on or tag_selection_off*/
    
    border: solid 1px white;
    padding: 5px;
    background-image: linear-gradient(to right, white, #ffeecc);
    font: var(--menu-font);
    color: #995500;
    text-shadow: 0px 0px white;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_switch_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;

    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;

    border: solid 2px red;
}

@media (max-width: 768px) {
    #page_switch_button {
        width: 135px;
    }
}

@media (max-width: 480px) {
    #page_switch_button {
        width: 110px;
    }
}

.selection_list li:hover, .page_switch_button:hover{
    background-image: none !important; /*!important fixes the specificity issues, as this element's style is mainly set from the script*/
    background-color: silver;
    cursor: pointer; /*this is the hand arrow*/
}

#page_block #table_content{
    background-color: rgba(255,255,255, 0.3);
    width: 100%; 
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word;
}

#page_block #table_content tr td{
    border: none 2px black; /*value of this property will affect the code table also*/
    padding: 0.5vw 1vw;
}

#page_block #paragraph_content{
    background-color: rgba(255,255,255, 0.3);
    position: relative;
    width: 98%; 
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0%;
    border: solid 1px white;
}

#page_block #paragraph_content p{
    position: relative;
    width: auto; 
    word-wrap: break-word;
}

#page_block code{
    font: var(--code-font);
    white-space: pre-wrap;
    color: blue;
}

#page_block code table{
    border: none 0px black;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    padding:0px;
    margin: 0px;
    height: auto;
}
#page_block code table td{
    text-align: left;
    border: none 0px black !important; /* This will override inline style set to code table directly within the xml*/
    /*properties set explicitly within the script
    padding: 0px;
    margin: 0px;
    width: auto;
    */
}

#page_block code table td:nth-child(1){
    text-align: left;
    border: none 0px black !important; /* This will override inline style set to code table directly within the xml*/
    background-color: white;
    /*properties set explicitly within the script
    padding: 0px;
    margin: 0px;
    width: auto;
    */
}

#page_block code table td:nth-child(2){
    padding-left: 10px !important; /* This will override inline style set to code table directly within the xml*/
}

#page_block code box{
    background-color: var(--header-footer-color);
    background-image: url("../../global/images/header_footer_texture.jpg");
    background-blend-mode: var(--header-footer-background-blend-mode); /* Blend the image and color */
    background-repeat: var(--header-footer-background-repeat);
    background-position: var(--header-footer-background-position);
    background-size: var(--header-footer-background-size);
    border: solid 2px rgba(0,0,0,0.2);
    display: block;
    padding: 0px;
    margin: 15px 0px;
}

#page_block code lineNumber {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    color: rgba(0,0,0,0.5);
    margin:0px;
    padding:0px;
    font: var(--code-font);
    height: auto;
    /*border and other properties are set from the script*/
}

#page_block code comment{
    color: #aa0000;
}

/*Tooltip is used for adding additional info on hovering on an element*/
#page_block red{
    color: #dd0000;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    text-shadow: 0px 0px #dd0000; /*shadow will surround the text even with 0px on all sides*/
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block azure{
    color: #008080;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    text-shadow: 0px 0px #008080; /*shadow will surround the text even with 0px on all sides*/
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block purple{
    color: #aa00cc;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: 0px 0px #aa00cc; /*shadow will surround the text even with 0px on all sides*/
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block brown
{
    /*brown header*/
    position: relative;
    display: inline-block; /*this will allow us to set margins for the element*/
    
    color: var(--darkbrown-color);
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px white; /*shadow will surround the text even with 0px on all sides*/
    background-color: rgba(255,255,0,0.1);
    padding: 2px;
    padding-bottom: 0px;
    margin: 5px 0px;
    border-bottom: solid 2px darkred;

    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: auto; 
}

#page_block indigo{
    /*indigo header*/
    color: rgba(0,0,100,1.0);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: 0px 0px rgba(0,0,100,1.0); /*shadow will surround the text even with 0px on all sides*/
    background-color: rgba(100,255,255,0.1);
    padding: 2px;
    margin: 0px;
    border: groove 0px rgba(0,0,0,0.1);
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
}

#page_block green{
    /*green header*/
    
    position: relative;
    display: inline-block; /*this will allow us to set margins for the element*/
    color: #007700;
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 0px white; /*shadow will surround the text even with 0px on all sides*/
    background-color: rgba(0,255,0,0.01);

    
    border: solid 0.2vw rgba(0,0,0,0.1);       /* inner border */
    outline: solid 0.2vw rgba(0,0,0,0.1);        /* outer border */
    outline-offset: 0.4vw;           /* controls spacing between the two */
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: auto; 
    padding: 3px;
    margin: 5px 0px;
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@media (max-width: 768px) {
    #page_block green{
        font-size: 19px;
    }
    #page_block brown{
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    #page_block green{
        font-size: 16px;
    }
    #page_block brown{
        font-size: 13px;
    }
}

#page_block bold{
    font-weight: bold;
}

#page_block highlight{
    font-weight: bold;
    color: red;
    font-family: Verdana;
}

#page_block .database_image{
    width: 80%; 
    position: relative; 
    left: 10%;
}

#page_block enum
{
    display: block;
    position: relative;
    margin: 5px 3%;
    padding: 2px;
    padding-left: 5px;
    font-family: inherit;
    font-size: inherit;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    color: #663300; 
    text-align: left; 
    width: 94%; 
    background-color: rgba(255,255,255,0.2);
    border: none 0px black;
}

#page_block enum::before
{
    content: "-> ";
    font-size: inherit;
    font-weight: inherit;
}

#page_block enum enum::before
{
    content: "- ";
    font-size: inherit;
    font-weight: inherit;
    color: black;
}