#page_block {
    position: relative;
    width: 99%;
    color:#663300;
    border: solid 1px #995500;
    margin: 0.5%;
    font-family:Tahoma; /*font set from javacript*/
    font-size:14px;
    background-color: white;
    background-image: linear-gradient(to right, rgba(153,85,00, 0.1), rgba(153,85,0, 0.3));
    text-shadow: 1px 1px white;
    word-wrap: break-word;
    height: auto;
    top: 0px;
    font-weight: normal;
    box-shadow: none;
}

#page_block h2
{
    margin-bottom: 1%;
}

#page_block #page_content
{
    position:static;
    width:100%;
    /*display flex will make child elements stay side by side*/
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin: 0px;
    padding: 0px;
    
    /*
    Alternative way: display: inline-block; will do the same thing
    display: inline-block; 
    */
    
}

#page_block #menu_div
{
    position: sticky;
    width:30%; /*width not really needed flex will control the width*/
    left: 0%;
    top:0%;
    margin:0px;
    margin-left:2px;
    height: 98vh; /*height in percent of viewport height*/
    padding: 2px;
    border: solid 1px #995500;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    /*flex and md-flex sets the width*/
    -ms-flex:  0.2;  /* IE 10 */  
    flex: 0.2; /*0.5 means 25% as 1 means 50:50*/
    /*menu_div flex width is decreased by 10%. 0.2 is like 20% of 50% screen width. 
    Aproximatively: 10% of screen width.*/
}

#page_block #menu_div #menu #searchForm
{
    position: relative;
    margin: 2%;
}

#searchForm #SearchBox {
    position: relative;
    width: 94%;
    padding: 1%;
    padding-left: 3%;
    background-image: linear-gradient(to right, white, #ffeecc);
    font-size: 12px;
    font-family:Georgia;
    color: #995500;
    margin: 0%;
    border: outset 1px #995500;
    border-radius: 5px;
}

#clearSearchButton, #searchButton, #save_button {
    position: relative;
    width: 48%;
    min-width: 45px; /*we need at least this width to be able to display the button text value properly*/
    font-size: 12px;
    font-family:Georgia;
    padding: 1% 0px;
    margin: 0%;
    margin-top: 2%;
    background-image: linear-gradient(to right, white, #ffeecc);
    font-size: 12px;
    border: outset 1px #995500;
    border-radius: 5px;
}

#searchType
{
    position: relative;
    width: 98%;
    margin: 0%;
    margin-top: 2%;
    padding: 0%;
    padding-left: 3%;
    background-image: linear-gradient(to right, white, #ffeecc);
    font-size: 12px;
    font-family:Georgia;
    color: #995500;
    border: outset 1px #995500;
    border-radius: 5px;
    text-align: center;
}

#save_button
{
    width: 98%;
}

#clearSearchButton:hover, #searchButton:hover, #save_button:hover{
    opacity: 0.7;
    background-image: linear-gradient(to right, #ffeecc, white);
}

searchHighlight{
    color: darkred;
    background-color: rgba(255,0,0,0.3);
    padding: 0px;
    text-shadow: 1px 1px white;
}

#page_block #menu_div #menu {
    position: relative;
    width: 98%;
    top:0%;
    font-family:Verdana;
    font-size:16px;
    color: #005500;
    margin: 0%;
    text-shadow: 1px 1px white;
    list-style: none;
    padding: 0%;
    height: auto;
}

#page_block #menu_div .selection_list, #concept_selection{
    position: relative;
    width: 96%;
    padding: 0%;
    margin: 2%;
    list-style: none;
    text-align: left;
    color: #995500;
    font-variant: small-caps;
    font-family:Calibri;
    font-size: 14px;
    font-weight: normal;
    /*some properties are changed from the script*/
}

#page_block #menu_div  p{
    position: relative;
    width: 90%;
    margin:0px;
    margin-left: 2%;
    list-style: none;
    text-align: left;
    color: #995500;
    font-variant: small-caps;
    padding: 3px;
    font-family:Calibri;
    font-size: 16px;
    border: none;
    text-shadow: 0.4px 0.4px black;
}

#page_block #menu_div .selection_list:hover, #concept_selection:hover
{
    cursor: pointer; /*this is the hand arrow*/
}

.selection_list_element, .concept_collection_element
{
    width: auto; 
    max-width: 100%;
    list-style: none;
    text-align: left;
    margin: 0.1vw;
    
    /*The script will overwrite many of these properties by setting the style 
    of li elements to tag_selection_on or tag_selection_off*/
    
    border: solid 1px white;
    padding: 5px;
    background-image: linear-gradient(to right, white, #ffeecc);
    font-size: 12px;
    font-family:Georgia;
    color: #995500;
    text-shadow: 0px 0px white;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*selecting from .selection_list class the children which are part of class .selection_list_element*/
.selection_list_element
{
    display: inline-block;
}

/*selecting from element with concept_selection id the children which are part of class .selection_list_element*/
#page_block #menu_div .concept_collection_element
{
    /*overwrite the display property for the concept_seleciton*/
    display: block;
}

#page_block #content{
    position: relative;
    width: 68%;
    border: solid 1px #995500;
    border-radius: 10px;
    margin:0px 2px;
    /*flex and md-flex sets the width*/
   -ms-flex: 1;  /* IE 10 */ 
    flex: 1;
}

#page_block #database_info{
    position:relative;
    width: 96%;
    margin: 1%;
    padding: 1%;
    font-family:Verdana;
    font-size:16px;
    color: #663300;
    border: none 2px blue;
    text-shadow: 1px 1px white;
    text-align: center;
}

#page_block #database_info info{
    position: relative;
    margin: 0%;
    margin-bottom: 1%;
    padding: 10px;
    text-shadow: 1px 1px white;
    text-decoration: none;
    text-align: center;
    font-family:Tahoma;
    font-size:14px;
    color: #663300;
    border-style: none;
    left: 0%;

}

#page_block #database_info description{
    position: relative;
    font-family:Tahoma;
    font-size:15px;
    color: #663300;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: 10px;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

#page_block #database_info info a{
    position: relative;
    font-family:Tahoma;
    color: darkgreen;
    border-style: none;
    text-decoration: none;
}

#page_block #database_info info a:hover{
    color: darkblue;
}

#page_block #database_info q{
    position: relative;
    font-family:Calibri;
    font-size:15px;
    color: #663300;
    border-style: none;
    margin: 0%;
    margin-bottom: 1%;
    padding: 10px;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

#page_block #database_info q:before {
  content: none;
}

#page_block #database_info q:after {
  content: none;
}

#page_block #database_info q blue{
    position: relative;
    font-family: Consolas;
    font-size:12px;
    color: blue;
}

#page_block #table_content{
    /*properties overwritten in the script*/
    background-color: rgba(255,255,255, 0.3);
    width: 98%;
    margin: 1%;
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word;
    /*background-color and other properties are set from the script*/
    
    /*workaround for maintaining same font-weight when saving webpage*/
    font-weight: normal;
}

/*Selecting only tr elements whose parent is  #table_content*/
#page_block #table_content>tr{
    /*properties overwritten in the script*/
    border: none 2px black;
    padding: 0.5vw 1vw;
    background-color: red;
}

#page_block code{
    font-family: Consolas;
    font-size: 16px;
    white-space: pre-wrap;
    color: blue;
}

#page_block code table{
    border: none 1px black;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    padding:0px;
    margin: 0px;
    height: auto;
    
    /*workaround for maintaining same font-weight when saving webpage*/
    font-weight: normal;
}

#page_block code table p
{
    border: red 2px solid;
}

#page_block code table td{
    text-align: left;
    border: solid 1px rgba(0,0,0,0.1);
    
    /*workaround for keeping colors and style when saving webpage*/
    font-family: Consolas;
    font-size: 16px;
    white-space: pre-wrap;
    color: blue;
    
    /*properties set explicitly within the script
    padding: 0px;
    margin: 0px;
    width: auto;
    */
}

#page_block code box{
    background-color: rgba(255,255,255,0.4);
    border: solid 1px rgba(0,0,0,0.1);
    display: block;
    padding: 0px;
    margin: 15px 0px;
}

#page_block code lineNumber {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    color: rgba(0,0,0,0.5);
    margin:0px;
    padding:0px;
    font-family: Consolas;
    height: auto;
    font-weight: bold;
    /*border and other properties are set from the script*/
}

#page_block code comment{
    color: #aa0000;
}

/*Tooltip is used for adding additional info on hovering on an element*/
#page_block red{
    color: #dd0000;
    font-weight: bold;
    font-family: Calibri;
    font-size: 19px;
    font-weight: bold;
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block azure{
    color: #008080;
    font-weight: bold;
    font-family: Calibri;
    font-size: 19px;
    font-weight: bold;
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block purple{
    color: #aa00cc;
    font-family: Calibri;
    font-size: 19px;
    font-weight: bold;
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block red tooltip{
    color: black;
    font-family: Calibri;
    font-size: 19px;
    position: absolute;
    /*Aligning the item with the parent*/
    min-width: 200%;
    max-width: 800%;
    top:100%;
    left: -25%;
    visibility: hidden;
    text-align: center;
    z-index: 1;
    padding: 5px 0;
    border-radius: 6px;
    border: solid 1px black;
    background-image: linear-gradient(to right, white, #ffeecc);
    
}

#page_block red:hover tooltip {
  visibility: visible;
}
/*End of tooltip*/

#page_block brown{
    position: relative;
    /*brown header*/

    color: darkred;
    font-family: Calibri;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px white;
    background-color: rgba(255,255,0,0.3);
    padding: 1px;
    border: solid 1px rgba(0,0,0,0.1);
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
}

#page_block indigo{
    /*indigo header*/
    color: rgba(0,0,100,1.0);
    font-family: Calibri;
    font-size: 19px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px white;
    background-color: rgba(100,255,255,0.1);
    padding: 0px;
    margin: 10px;
    border: groove 0px rgba(0,0,0,0.1);
    line-height: 22px;
    font-weight: bold;
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
}

#page_block green{
    /*green header*/
    color: #007700;
    font-family: Calibri;
    font-size: 22px;
    font-weight: bold;
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block bold{
    font-weight: bold;
}

#page_block highlight{
    font-weight: bold;
    color: red;
    font-family: Verdana;
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    text-align: left; 
    width: 98%; 
}

/*Styling the scroll bar*/
#page_block #menu_div::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
#page_block #menu_div::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
#page_block #menu_div::-webkit-scrollbar-thumb 
{
    background: #995500; 
    border-radius: 10px;
}

/* Handle on hover */
#page_block #menu_div::-webkit-scrollbar-thumb:hover
{
    background: #aa7700; 
}

#page_block .database_image{
    width: 80%; 
    position: relative; 
    left: 10%;
}

/*Need to check for proper formatting of p element.*/
#page_block #table_content p{
    border: none;
}

#page_block enum
{
    display: block;
    position: relative;
    margin: 5px 3%;
    padding: 2px;
    padding-left: 5px;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    /*workaround for maintaining same style when saving the webpage*/
    /*these values will be overwritten by the script.*/
    color: #663300; 
    font-family: Calibri; 
    font-size: 18px; 
    text-align: left; 
    width: 94%; 
    background-color: rgba(255,255,255,0.2);
    border: none 0px black;
}

#page_block enum::before
{
    content: "-> ";
    font-size: 20px;
    font-weight: normal;
}

#page_block enum enum::before
{
    content: "- ";
    font-size: 20px;
    font-weight: normal;
    color: black;
}