<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Snake Video</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<!--Global resources-->
		<link rel="stylesheet" href="../../website_resources/global/css/global.css">
		<link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="../../website_resources/global/scripts/global_script.js"></script>
		
		<!--Local resources-->
	</head>
	<body>
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Catalogue')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{exitDir}}{{exitDir}}{{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{exitDir}}{{exitDir}}{{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{exitDir}}{{exitDir}}{{javascript_games_page.value}}>{{javascript_games_page.name}}</a> -> <a href={{exitDir}}{{javascript_games_presentation_video.value}}>Video Presentation Page</a> -> Snake Video</h2>
			<h3>Snake Video</h3>

			<video controls autoplay muted>
			  <source src="snake_video.mp4" type="video/mp4">
			  <source src="snake_video.ogg" type="video/ogg">
			Your browser does not support the video tag.
			</video>

			<h4>Description:</h4>
			<h4>
				Classic Snake Game<br><br>
				The purpose of the game is to control the snake within the table, grabbing the fruit will raise the score and allow 
				the snake to grow longer hence rewarding the player with points.
				<br><br>
				This version of the game allows the player to drive through walls so the only available collision
				is between the snake head and the tail. If the head hit the tail the game will end.
				<br><br>
				<a style = "text-decoration: none; color: red;" href = "../../../Javascript-Projects/snake_resources/snake_game.html" >Snake Game Web Page</a>
			</h4>

		</div>
		<footer>
			<h4>{{pageObject.footer_copyright}}</h4>
			<h5>{{pageObject.footer_paragraph}}</h5>
			<table>
				<tr>
					<th>{{pageObject.footer_table_headers[0]}}</th>
					<th>{{pageObject.footer_table_headers[1]}}</th>
					<th>{{pageObject.footer_table_headers[2]}}</th>
				</tr>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.connections_list">
								<a class = "outer_href" href="https://www.{{x}}">{{x}}
								</a>
							</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>