/* Make all elements include padding/border in width */
*,
*::before,
*::after {
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block #game_content
{
    position: relative;
    display: flex;
    flex-direction: row;
    
    /*justify-content: center;*/
    
    gap: 3px; /* equal spacing between ALL children */
    
    width: 65%; /* the width of game_content is also influenced by width of game_div*/

    float: left;
    
    height:auto;
    padding: 0px;

    background-image: url(./textures/classic_chess_background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border: ridge 1px rgba(255,255,255, 1);
    border-radius: 1vw;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_content #game_div
{
    position: relative;
    display: block;
    /*width: 60%;*/ /*width is controlled by flex*/
    height: auto;
    
    /*flex: 1;*/            /*flex: 1 doesn't handle the canvas scalling properly*/
    flex: 0 0 60%;          /* take 60% of parent's width */
    aspect-ratio: 1 / 1;     /* THIS keeps it square */
    
    margin: 1%;
    padding: 0%;
    border: none 1px #ccc;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div #game_canvas
{
    /*Fix for canvas stretching unevenly causing loss in aspect-ration and blurry textures*/
    width: 100%;    /* let JS decide proper pixel size for width*/
    height: 100%;   /* let JS decide proper pixel size for height*/
    /*this should have fixed the scalling issue of the canvas on fullscreen or viewport resize*/
    
    display: block;
    
    border: none 1px blue;
    
    margin: 0%;
    padding: 0%;
    opacity: 0.9;
}

#game_content #gameHud
{
    position: relative;
    
    /*justify-content: space-between;*/ /* THIS evenly distributes content vertically */
    overflow: hidden;
    /*width: 30%;*/ /*width is controlled by flex*/
    
    flex: 1;       /* takes the remaining space left by game_div */
    display:flex;
    flex-direction: column;
    margin: 1%;
    
    height: auto; /* or just delete height entirely */
    border: none 1px black;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@media (max-width: 768px) {
    #page_block #game_content
    {
        flex-direction: column;
        align-items: center;
    }

    #gameHud
    {
        width: 100% !important;
    }

    #game_div
    {
        width: 100% !important;
    }
}

#log_div
{
    position: relative;
    display: block;
    background-color: rgba(150,90,90,0.8); /*background color set from javascript*/
    width: 100%;
    border: solid 1px black;
    border-radius: 1rem;
    
    justify-content: flex-start;     /* top align */
    align-items: flex-start;         /* left align */
    
    text-align: left;
    
    padding: 0px;
    margin: 0px auto;
    margin-bottom: 10px;
}

#log_label
{
    position: relative;
    display: block;
    font: var(--site-description-font);
    text-align: center;
    width: 100%;
    color: white;

    border: none 1px red;
    border-bottom: solid 1px white;
    margin: 3px 0px; /* Remove default margins */
    padding: 0px;
}

#result_log
{
    position: relative;
    display: flex;
    flex-direction: column;          /* stack messages vertically */
    
    width: 100%;
    color: white;   /*default color - this property controlled from javascript*/                

    max-height: 15.1rem;
    min-height: 15.1rem;
    overflow-y: auto;                /* enable vertical scrolling */
    overflow-x: hidden;
    
    border: none 1px white;
    border-bottom: solid 1px white;
    font-family: Calibri;
    font-weight: normal;
    font-size: 17px;
    
    justify-content: flex-start;     /* top align */
    align-items: flex-start;         /* left align */
    text-align: left;

    padding: 5px;
    margin: 0px auto;
}

#captures
{
    position: relative;
    display: block;
    width: 100%;
    color: white;   /*default color - this property controlled from javascript*/                
    
    border: none 1px white;
    border-bottom: solid 1px white;
    font-family: Calibri;
    font-weight: normal;
    font-size: 12px;
    
    justify-content: flex-start;     /* top align */
    align-items: flex-start;         /* left align */
    text-align: left;

    padding: 0px;
    margin: 0px auto;
}

#white_captures, #black_captures
{
    position: relative;
    display: block;
    width: 100%;
    color: white;   /*default color - this property controlled from javascript*/                

    max-height: 3.1rem;
    min-height: 3.1rem;
    
    border: none 1px white;
    font-family: Calibri;
    font-weight: normal;
    font-size: 12px;
    
    justify-content: flex-start;     /* top align */
    align-items: flex-start;         /* left align */
    text-align: left;

    padding: 0px;
    margin: 0px auto;
}

#current_turn, #game_status
{
    position: relative;
    display: block;
    width: 100%;   

    font: var(--site-description-font);
    
    border: none 1px red;
    border-radius: 1rem;

    text-align: center;

    padding: 5px;
    margin: 0px auto;
    margin-bottom: 10px;
}

#game_status
{
    color: rgba(250,230,230,1);
}

.newOutputInfo
{
    animation: outputAnimation 0.5s 1;
}

@keyframes outputAnimation {
    0%   { opacity: 0.1 }
    100% { opacity: 1; }
}

@media (max-width: 768px)
{
    #result_log
    {
        max-height: 10.3rem;
        min-height: 10.3rem;
    }
}

@media (max-width: 480px) 
{
    #result_log{
        max-height: 5.1rem;
        min-height: 5.1rem;
    }
}

#author
{
    position: relative;
    width: auto;
    max-width: 200px;
    border: none 2px white;
    color: var(--darkbrown-color);
    font: var(--site-description-font);  
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: auto;
    margin-left: auto;
    border-radius: 10px;
    line-height: 1rem; /*the line height is proportional to the font*/
}

.button_container{
    border: none 1px blue;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 768px)
{
    .button_container
    {
        flex-direction: column;
    }
}

#fullscreen, #restart{
    width: 85px;
    margin: auto;
    font-size: 15px;
}