<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Java</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../website_resources/global/images/favicon.ico">
        <!--Global resources-->
		<link rel="stylesheet" href="../website_resources/global/css/global.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body>
		<header>
			<div id="header_title">
                <h2 id="page_title"></h2>
                <p id="page_description"></p>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Catalogue')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{java_page.value}}>{{java_page.name}}</a></h2>
			<table id = "content_table">
				<tr>
					<td>
						<div id ="catalogue_div_left">
							<ul class = "content_list">
								<li ng-repeat="item in java_catalogue"><a href = {{item.value}}>{{item.name}}</a></li>
							</ul>
						</div>
					</td>
					<td>
						<div id="catalogue_div_right">
							<img src="../website_resources/global/images/mario.gif" alt="mario gif">
						</div>
					</td>
				</tr>
			</table>
		</div>
        <footer>
            <h4 id="copyright_message">{{pageObject.footer_copyright}}</h4>
            <div id = "footer_tabelation_div">
                <div class="footer_columns" ng-repeat="list_item in footer_table_contents">
                    <p class="column_title">{{list_item.name}}:</p>
                    <ul class="footer_list">
                        <li ng-if = "list_item.content == 'text'" ng-repeat="item in list_item.list_values">{{item}}</li>
                        <li ng-if = "list_item.content == 'objects_with_links'" ng-repeat="item in list_item.list_values"><a href="{{item.value}}">{{item.name}}</a></li>
                    </ul>
                </div>
            </div>
            <h5 id="footer_endline">{{pageObject.footer_paragraph}}</h5>
        </footer> 
	</body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../website_resources/global/scripts/global_script.js"></script>
</html>