#page_block #game_content
{
    position:relative;
    display: flex;
    flex-direction: row;
    
    /*justify-content: center;*/
    
    gap: 3px; /* equal spacing between ALL children */
    float: left;
    
    width: 60%; /* the width of game_content is also influenced by width of game_div*/
    height:auto;
    padding: 0%;

    background-image: url(./towerblocks_page_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border: ridge 2px rgba(255,255,255, 0.1);
    border-radius: 1vw;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Make all elements include padding/border in width */
*,
*::before,
*::after {
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div
{
    position: relative;
    width: auto;
    
    /*helps positioning the controls within the game_div on small viewports*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    height:fit-content;
    margin: 1% 2%;
    padding: 0%;
    border: none 1px red;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div table{
	position: relative;

    /*background-color: rgba(100,215,255,0.8);*/
    background-color: rgba(255,255,255,0.8);
    
    padding: auto;
    margin: auto;
    width: auto;

    border: ridge 0px black;
    border-radius: 1vw;
    opacity: 0.9;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
}

#game_div table td
{
    position: relative;
    padding-top: 1.9vw;
    aspect-ratio: 1 / 1;
    
    border: solid 0px black;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
    margin:0%;
}

/*game_div uses game_div_fullscreen class on fullscreen*/
#game_div.game_div_fullscreen table tr td
{
    padding-top: 3vw;
}

@media (max-width: 768px)
{
    #page_block #game_content
    {
        flex-direction: column;
        align-items: center;
    }
    
    #game_div
    {
        width: 100%;
    }
    
    #game_div table tr td
    {
        padding-top: 3vw;
    }
    
    #game_div.game_div_fullscreen table tr td
    {
        padding-top: 5vw;
    }
}

@media (max-width: 480px) {

    #game_div table tr td
    {
        padding-top: 2vw;
    }

    #game_div.game_div_fullscreen table tr td
    {
        padding-top: 5vw;
    }
}

#gameHud{
    position: relative;
    display: block;
    
    overflow: hidden;
    margin: 5px 10px;
    padding: 2px;
    
    width: 100%;
    max-width: 200px;
    height: auto;
    border: none 1px white;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@media (max-width: 768px)
{
    #gameHud
    {
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 20px;
        max-width: 90%;
    }
}

@media (max-width: 480px)
{
    #gameHud
    {
        display: block;
        flex-direction: column;
        margin: auto;
        gap: 20px;
        max-width: 90%;
    }
}

#gameHud h6{
	position: relative;
	padding: 2px;
	margin: 3px auto;
    font-family: Georgia;
    font-weight: normal;
    width: auto;
    line-height: 1.2rem; /*the line height is proportional to the font*/
}

@keyframes textAnim
{
    0%   { color: black; }
    30% { color: darkblue; }
    50% { color: darkgreen; }
    100% { color: black; }
}

#gameStatus{
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 12px;
    height: fit-content;
    width: 95%;
    text-align: center;
    min-height: 1lh;   /* always at least 3 lines tall */
    margin: 0px auto;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    border: none 2px red;
    
    background-color: rgba(255,255,255,0.6);
    animation: textAnim 2s infinite;
}

#gameStatus.game_over{
    color: white;
    font-weight: bold;
    background-color: rgba(100,0,0,0.6);
    animation: textAnim 2s 0;
}

/*add this style only when gameStatus is part of gameHud*/
#gameHud #gameStatus{
    min-height: 3lh;   /* always at least 3 lines tall */
}

#ComboMessage{
    position: relative;
    color: black; /*the color will be set via the script*/
    font-size: 10px;
    border: none 2px blue;
    text-align: center;
    min-height: 1lh;   /* always at least 3 lines tall */
    line-height: 1.2rem; /*the line height is proportional to the font*/
    height: 1lh;   /* always at least 3 lines tall */
    margin: 0px;
    padding: 0px;
    background-color: rgba(255,255,255,0.6);
}

#menu, #message_area, #controls{
    position: relative;
	border: none 2px red;
    width: 100%;
    margin: auto;
}

#restartgame, #startgame, #fullscreen, #drop_block{
    position: relative;
    display: block; /*helps centering with margin: auto*/
	width: 100%;
    background-color: #ccc;
    text-align: center;
    font-family: Georgia;
    font-size: 15px; /* font-size in percent of the viewport size.*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#restartgame, #startgame, #fullscreen{
    height: 30px;
    margin: 0px auto;
}

#drop_block{
    margin: 20px auto;
    max-width: 250px;
    height: 40px;
    background-color: orange;
    color: black;
}

/* class that activates the animation */
#drop_block.drop_block_effect {
    animation: colorAnim 0.3s 1;
}

@keyframes colorAnim {
    0%   { background-color: inherit }
    40% { background-color: #ccc; }
    100% { background-color: inherit; }
}

#restartgame, #fullscreen
{
    margin-top: 5px;
}

#score
{
	color: black;
	background-color: rgba(255,255,255,0.6);
    font-size: 12px;
    font-weight: bold;
    border: none 2px green;
    min-height: 2lh;   /* always at least 3 lines tall */
    height: 2lh;   /* always at least 3 lines tall */
    line-height: 1.2rem; /*the line height is proportional to the font*/
    padding: 2px;
}

#spareBlocks
{
	color: darkred;
	background-color: rgba(255,255,255,0.6);
    font-size: 12px;
    font-weight: bold;
}

#blocksClimbed
{
	color: darkgreen;
	background-color: rgba(255,255,255,0.6);
    font-size: 12px;
    font-weight: bold;
}

#gameHud #author
{
	position: relative;
    text-align: center;
	color: blue;
	font-size: 11px;
	font-weight: bold;
	background-color: rgba(255,255,255,0.6);
    width: 100%;
    margin-top: auto;
}