<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Python MP3 Player Video</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
		<link rel="stylesheet" href="../../website_resources/global/css/global.css">
		<link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		
		<!--Local resources-->
	</head>
	<body>
		<header>
			<div id="header_title">
                <h2 id="page_title"></h2>
                <p id="page_description"></p>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Catalogue')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{python_page.value}}>{{python_page.name}}</a> -> Python MP3 Player</h2>
			<h3>Python MP3 Player</h3>

			<video controls autoplay muted>
			  <source src="PyPlay Mp3 Player.mp4" type="video/mp4">
			  <source src="PyPlay Mp3 Player.ogg" type="video/ogg">
			Your browser does not support the video tag.
			</video>

			<h4>Description:</h4>
			<h4>
				<span class="highlight_blue">VERY INTERACTIVE CUSTOMIZABLE MP3 PLAYER DEVELOPED USING PYTHON, TKINTER AND PYGAME.</span>
                <br></br> 
				PyPlay MP3 Player is an application which was developed as challenge in order to improve knowledge, coding skills and understanding of Python: 
                high-level programming & scripting language.
                <br></br>
                <span class="highlight_blue">Versions deployed:</span><br></br>
                PyPlay Mp3 Player V3</br>
                PyPlay Mp3 Player V4</br>
				<br>                
                PyPlay Mp3 Player V3 started in 2019 developed using Python 3.4.<br>
                PyPlay Mp3 Player V4 improved version in 2025 updated to Python 3.10.
                <br></br>     
                <b>For Windows:</b> Compiled versions are available containing the executable file with all 
                the resources required to run.
                <br></br> 
                For PyPlay Mp3 Player V3 the compilation was done using: Py2Exe.</br>
                For PyPlay Mp3 Player V4 the compilation was done using: PyInstaller / CXFreeze.
                <br></br> 
                <span class="highlight_blue">Portability:</span><br></br>
                The runnable scripts archives contain pre-installed version of Python used in 
                the development. The archives contain the <red>.py</red> python script files (source code) all 
                resources required to run the script python.
				
				</br></br>
                <span class="highlight_blue">What can V3 script do:</span>
                <br></br> 
					- playing .mp3 files,
                    <br>- create and manage .mp3 file playlists.
                    <br>- customizable player's appearance.
                    <br>- rename and edit .mp3 file tags in Real-Time (without stopping the playback).
                    <br>- adjust the playback length for the files within the playlist.
                    <br>- add track independently fading in and fading out effects.
                    <br>- rating system for the tracks within a playlist.
                    <br>- Sleep and Wake Up timers.
                    <br>- real-time web-crawling for Track Lyrics.
                    <br>- real-time web-crawling for Artist Biographies.
                    <br>- attach Slideshows.
                    <br>- adds Cross-Fading for Track Transitions.
                    <br>- Shuffling without repeats.
                    <br>- sets automatic track switching time-intervals (Danthology Mode).
                    <br>- tracking of the number of times each track was played.
                    <br>- auto-filling of the missing MP3 Tag Information such us: Artist, Name, Album, Year directly from the Web.
                    <br>- auto-text editing / renaming files taking as reference MP3 Tags.
                    <br>- various sorting methods available.
                    <br>- real-time search capability within playlists.
                    <br>- playlists Stats tracking.
                    <br>- able to generate Excel reports for Playlist & Track Statistics;
                    <br>- string filtering and processing of file names. Able to remove unwanted characters in real-time for every file in the playlist;
                    <br></br> 
					<span class="highlight_blue">What can V4 script do:</span>
                    <br></br> 
                    - added menu bar on main window
                    <br>- added search form on main window
                    <br>- search form can now be used as a filter
                    <br>- improved instant search response time
                    <br>- added hotkeys for remote support of Play/Pause and Next/Previous track through use of Media Play/Pause, Media Next, Media Previous button available from keyboard or wireless headsets.
                    <br>- added support for associating PyPlay with .mp3 files.
                    <br>- added more fonts
                    <br>- added better styles for scrollbar, volume scale, progress bar,
                    <br>- improved performance regarding window responsiveness
                    <br>- added resynchronize context menu command to validate / refresh / update  .mp3 file data from drive into the player
                    <br>- reduce the number of views available for the Player
                    <br>- restructuring of resources and backup files
                    <br>- amount of button elements was reduced
                    <br>- new skin themes added
                    <br>- fixed bugs regarding the Slideshow
                    <br>- support for opening more than 2 windows at once
                    <br>- limits the application instances to 1. The user can only open 1 instance of the player
                    <br>- added a flag system that monitors the status of files. If a file becomes invalid, it will get flagged and ignored.
                    <br>- added projections on changes performed using Mp3TagModified. The user gets projected how various changes will affect the files within playlist.
				<br></br> 
				<a style = "text-decoration: none; color: red;" href="../Portable-Downloads.html">Available for Download</a>
			</h4>


		</div>
		<footer>
            <h4 id="copyright_message">{{pageObject.footer_copyright}}</h4>
            <div id = "footer_tabelation_div">
                <div class="footer_columns" ng-repeat="list_item in footer_table_contents">
                    <p class="column_title">{{list_item.name}}:</p>
                    <ul class="footer_list">
                        <li ng-if = "list_item.content == 'text'" ng-repeat="item in list_item.list_values">{{item}}</li>
                        <li ng-if = "list_item.content == 'objects_with_links'" ng-repeat="item in list_item.list_values"><a href="{{item.value}}">{{item.name}}</a></li>
                    </ul>
                </div>
            </div>
            <h5 id="footer_endline">{{pageObject.footer_paragraph}}</h5>
        </footer> 
	</body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
</html>