#page_block #game_content
{
    position:relative;
    display: flex;
    flex-direction: row;
    
    /*justify-content: center;*/
    
    gap: 3px; /* equal spacing between ALL children */
    float: left;
    
    width: 55%; /* the width of game_content is also influenced by width of game_div*/
    height:auto;
    padding: 0%;

    background-image: url(./textures/snake_page_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border: ridge 2px rgba(255,255,255, 0.1);
    border-radius: 1vw;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div
{
    position: relative;
    width: auto;

    height:fit-content;
    margin: 1% 2%;
    padding: 0%;
    border: none 1px red;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div table
{
    position: relative;
    
    background-image: url(./textures/snake_background.bmp);
    background-repeat: repeat; 
    background-size: 25%;
    
    background-color: transparent;
    padding: auto;
    margin: auto;
    width: auto;

    border: solid 1px black;
    border-radius: 1vw;
    opacity: 0.9;
    border-collapse: collapse;
    border-spacing: 1px;
    table-layout: fixed;
}

#game_div table td
{
    position: relative;
    padding-top: 1.9vw;
    aspect-ratio: 1 / 1;
    
    border: groove 0px lightgreen;
    position: relative;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    margin:0%;
}

/* class that activates the animation */
.fruitEffect {
    animation: fruitAnim 2s infinite;
}

@keyframes fruitAnim {
    0%   { background-size: 70%; }
    40% { background-size: 120%; }
    100% { background-size: 70%; }
}

.snakeGrowingEffect {
    animation: snakeGrowingAnim 0.05s 1;
}

.scoreBoard {
    animation: highlight 1s forwards;
}

@keyframes highlight {
    0%   {color: black; font-size: 16px;}
    50%  {color: green; font-size: 17px}
    100% {color: black; font-size: 16px}
}

@keyframes snakeGrowingAnim {
    0%   { background-size: 50%; }
    100% { background-size: 120%; }
}

/*game_div uses game_div_fullscreen class on fullscreen*/
#game_div.game_div_fullscreen table tr td
{
    padding-top: 3vw;
}

@media (max-width: 768px)
{
    #game_div table tr td
    {
        padding-top: 3vw;
    }
    
    #game_div.game_div_fullscreen table tr td
    {
        padding-top: 5vw;
    }
}

@media (max-width: 480px) {
    #page_block #game_content
    {
        flex-direction: column;
        align-items: center;
    }
    #game_div
    {
        width: 100%;
    }
    #game_div table tr td
    {
        padding-top: 3vw;
    }

    #game_div.game_div_fullscreen table tr td
    {
        padding-top: 6vw;
    }
}

#controls{
    border: none 2px black;
    width: 100%;
    padding: 2px;
    margin: 5px auto;
    background-color: transparent;
    display: block;
}

#controls input{
    width: 40%;
    padding: 4px 2px;
    text-align: center;
    
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    
    background-color: white;
    opacity: 0.7;
}

#turnUp, #turnDown{
    position: relative;
    display: block;
    margin: auto;
}

#turnLeft, #turnRight{
    position: relative;
    left: 10%;
    display:inline-block;
}

#gameHud{
    position: relative;
    display:block;
    flex-direction: column; /* This makes it vertical */
    
    /*justify-content: space-between;*/ /* THIS evenly distributes content vertically */
    overflow: hidden;
    margin: 1%;
    padding: 2px;
    height: 100%;
    
    width: 100%;
    max-width: 200px;
    height: auto; /* or just delete height entirely */
    border: none 1px white;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*The button container divs will help styling the buttons inside as flex elements which 
will allow them better responsiveness on extreme small viewports*/
.button_container
{
    display: block;
    margin: 5px auto;
    border: none 1px blue;
}

.game_button
{
    position:relative;
    border: solid 1px black;
    text-align: center;
    
    color: darkred;
    
    font-family: Georgia;
}

.game_button:hover{
    background-color: lightgray;
    transition: background-color 0.5s ease;
}

#menu_div
{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    border: none 2px red;
}

#startgame, #pausegame, #restartgame, #fullscreen_button{
    position: relative;
    display: block;
    width: 75px;
    margin: 2px auto;
    font-size: 13px; /* font-size in percent of the viewport size.*/
}

#fullscreen_button
{
    /*background-color: #eeeeee;*/
}

#gameHud #score
{
    position: relative;
    display: block;
    width: 100%;

    border: none 0px black;
    background-color: rgba(255,255,255,0.7);
    text-align: left;
    
    font-family: Calibri;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    
    padding: 2px;
    margin: 10px auto;
}

#gameHud #author
{
    position: relative;
    display: block;
    width: fit-content;
    
    font-family: Calibri;
    font-size: 12px;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    font-weight: normal;
    
    color: white;
    text-align: center;
    
    border: none 2px red;
    
    padding: 2px;
    margin: 10px auto;
}

#result
{
    position: relative;
    display: flex;
    
    width: 100%;
    background-color: transparent;
    color: white;
    height: fit-content;
    border: none 2px red;
    
    justify-content: center;
    text-align: center;
    
    font-family: Calibri;
    font-size: 16px;
    line-height: 1.2rem;
    
    min-height: 3lh;   /* always at least 3 lines tall */
    
    padding: 0px 5px;
    
    margin: 10px auto;
}

@media (max-width: 768px)
{
    #result, #score
    {
        font-size: 13px;
    }
}