#page_block #game_content
{
    position:relative;
    display: flex;
    flex-direction: row;
    
    /*justify-content: center;*/
    
    gap: 3px; /* equal spacing between ALL children */
    float: left;
    
    width: 55%; /* the width of game_content is also influenced by width of game_div*/
    height:auto;
    padding: 0%;

    background-image: url(./textures/backgrounds/snake_page_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border: ridge 2px rgba(255,255,255, 0.1);
    border-radius: 1vw;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div
{
    position: relative;
    width: auto;

    height:fit-content;
    margin: 1% 2%;
    padding: 0%;
    border: none 1px red;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#game_div table
{
    position: relative;
    
    background-image: url(./textures/backgrounds/snake_background.bmp);
    background-repeat: repeat; 
    background-size: 25%;
    
    background-color: transparent;
    padding: auto;
    margin: auto;
    width: auto;

    border: solid 1px black;
    border-radius: 1vw;
    opacity: 0.9;
    border-collapse: collapse;
    border-spacing: 1px;
    table-layout: fixed;
}

#game_div table td
{
    position: relative;
    padding-top: 1.9vw;
    aspect-ratio: 1 / 1;
    
    border: groove 1px green;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin:0%;
}

/* class that activates the animation */
.fruitEffect {
    animation: fruitAnim 2s infinite;
}

@keyframes fruitAnim {
    0%   { background-size: 70%; }
    40% { background-size: 120%; }
    100% { background-size: 70%; }
}

.snakeGrowingEffect {
    animation: snakeGrowingAnim 0.05s 1;
}

.scoreBoard {
    animation: highlight 1s forwards;
}

@keyframes highlight {
    0%   {color: black; font-size: 16px;}
    50%  {color: green; font-size: 17px}
    100% {color: black; font-size: 16px}
}

@keyframes snakeGrowingAnim {
    0%   { background-size: 50%; }
    100% { background-size: 120%; }
}

/*game_div uses game_div_fullscreen class on fullscreen*/
#game_div.game_div_fullscreen table tr td
{
    padding-top: 3vw;
}

@media (max-width: 768px)
{
    #game_div table tr td
    {
        padding-top: 3vw;
    }
    
    #game_div.game_div_fullscreen table tr td
    {
        padding-top: 5vw;
    }
}

@media (max-width: 480px) {
    #page_block #game_content
    {
        flex-direction: column;
        align-items: center;
    }
    #game_div
    {
        width: 100%;
    }
    #game_div table tr td
    {
        padding-top: 3vw;
    }

    #game_div.game_div_fullscreen table tr td
    {
        padding-top: 6vw;
    }
}

#controls{
    border: none 2px black;
    width: 100%;
    padding: 2px;
    margin: 5px auto;
    background-color: transparent;
    display: block;
}

/*styling inputs that are disabled*/
#controls input:disabled
{
    opacity: 0.6;
}

#controls input{
    position: relative;
    width: 45%;
    padding: 4px 2px;
    text-align: center;
    border: ridge 1px #555;
    opacity: 1.0;

    height: 30px;
    background-color: white;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    color: #555;
    font-size: 15px; /* font-size in percent of the viewport size.*/
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* class that activates the animation */
.snakeIdle {
    animation: snakeIdleAnim 3s infinite;
}

@keyframes snakeIdleAnim {
    0%   { background-size: 100%; }
    50%   { background-size: 95%; }
    100% { background-size: 100%; }
}

/* class that activates the animation */
#controls .activeInput {
    background-color: green;
    color: white;
    animation: colorAnim 0.3s 1;
}

@keyframes colorAnim {
    0%   { background-color: inherit }
    40% { background-color: #ccc; }
    100% { background-color: inherit; }
}

#turnUp, #turnDown{
    position: relative;
    display: block;
    margin: auto;
}

#turnLeft, #turnRight{
    position: relative;
    left: 2.5%;
    display: inline-block;
}

#gameHud{
    position: relative;
    display:block;
    flex-direction: column; /* This makes it vertical */
    
    /*justify-content: space-between;*/ /* THIS evenly distributes content vertically */
    overflow: hidden;
    margin: 1%;
    padding: 2px;
    height: 100%;
    
    width: 100%;
    max-width: 200px;
    height: auto; /* or just delete height entirely */
    border: none 1px white;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*The button container divs will help styling the buttons inside as flex elements which 
will allow them better responsiveness on extreme small viewports*/
.button_container
{
    display: block;
    margin: 10px auto;
    border: none 1px blue;
}

.game_button
{
    position: relative;
    display: block; /*helps centering with margin: auto*/
	width: fit-content;
    min-width: 80px;
    margin: auto;
    height: 25px;
    background-color: #ccc;
    text-align: center;
    font-family: Georgia;
    font-size: 15px; /* font-size in percent of the viewport size.*/
    border: ridge 1px #555;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.game_button:hover{
    background-color: white;
    transition: background-color 0.5s ease;
}

#menu_div
{
    width: 100%;
    margin: 10px auto;
    display: flex;
    gap: 0.5vw;
    flex-wrap: wrap;
    border: none 2px red;
}

#startgame, #pausegame, #restartgame, #fullscreen_button{
    /*styles  are set from the game_button class*/
}

#fullscreen_button
{
    /*background-color: #eeeeee;*/
}

#gameHud #score
{
    position: relative;
    display: block;
    width: 100%;

    border: none 0px black;
    background-color: rgba(255,255,255,0.7);
    text-align: left;
    
    font-family: Calibri;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    
    padding: 2px;
    margin: 10px auto;
}

#gameHud #author
{
    position: relative;
    display: block;
    width: fit-content;
    
    font-family: Calibri;
    font-size: 12px;
    line-height: 1.2rem; /*the line height is proportional to the font*/
    font-weight: normal;
    
    color: blue;
    text-align: center;
    
    border: none 2px red;
    
    padding: 2px;
    margin: 10px auto;
}

#result
{
    position: relative;
    display: flex;
    flex-direction: column;          /* stack messages vertically */
    
    background-color: rgba(0,0,100,0.3); /*background color set from javascript*/
    
    width: 100%;
    color: white;

    max-height: 4.1rem;
    min-height: 4.1rem;
    overflow-y: auto;                /* enable vertical scrolling */
    overflow-x: hidden;
    
    border: ridge 1px #888;
    border-radius: 1rem;

    justify-content: flex-start;     /* top align */
    align-items: flex-start;         /* left align */
    text-align: left;

    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.1rem;

    padding: 5px 8px;
    margin: 10px auto;
}

@media (max-width: 768px)
{
    #result
    {
        max-height: 10.3rem;              /* roughly 3 lines (1.2rem * 3) */
        min-height: 10.3rem;              /* roughly 3 lines (1.2rem * 3) */
    }
}

.newOutputInfo
{
    animation: outputAnimation 0.3s 1;
}

@keyframes outputAnimation {
    0%   { font-size: 1px }
    100% { font-size: inherit; }
}

@media (max-width: 768px)
{
    #result, #score
    {
        font-size: 13px;
    }
}