#page_block #content_table
{
    width:100%;
    margin: auto;
    /*background-color: rgba(255,255,255,0.8);
    background-image: url("../images/catalogue_left_column_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;*/
    
    border: none 2px blue;
    
    /*The following will ensure that the width of the element will not grow with the added border-size.
    So the border will be within the defined element width.
    */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#page_block #content_table td /*td:first-child accessing first column*/
{
    width:100%;
    /*background-image: repeating-radial-gradient(farthest-side at 80% 45%, rgba(255,0,0,0.2), rgba(255,255,255,0.1));*/
    border: none 0vw rgba(0,0,0,0.1);
    border-radius: 20px;
    
    border: none 0px blue;
}

.fading_paragraph
{
    position: relative;
    word-wrap: break-word;
    
    margin: 5px auto;
    padding: 1%;
    width: 90%;
    border: solid 15px rgba(0,0,0,0.1);
    border-radius: 5vw;
    background-color: var(--header-footer-color);
    background-image: url("../../global/images/header_footer_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: var(--header-footer-background-size);
    background-repeat: repeat;
}

/*#page_block #content_table td:nth-child(2)*/ /*accessing second column*/
/*{
    width:90%;*/
    /*background-image: repeating-radial-gradient(farthest-side at 20% 45%, rgba(0,0,255,0.3), rgba(255,255,255,0.1));*/
    /*background-color: rgba(255,255,255,0.8);
    background-image: url("../images/catalogue_right_column_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;
    border: none 0vw rgba(0,0,0,0.1);
    border-radius: 20px;
}
*/

/*#catalogue_div_right{
    position:relative;
    width:27vw;
    height:auto;
    margin:1vw; 
    padding:1vw;
    opacity:0.7;
}


#catalogue_div_right img{
    position:relative;
    bottom:0%;
    width:100%;
}
*/

#catalogue_div_left{
    position: relative;
    width:auto;
    /*min-height:30vw;*/
    height: auto;
    margin:1vw; 
    padding:3vw;
    opacity:0.7;
    text-shadow: 0.1vw 0.1vw black;
    text-align:center;
    word-wrap: break-word;
    border: none 0px black;
    background-color:rgba(255,255,255,0.8);
    background-image: url("../images/catalogue_right_column_texture.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;
}

#catalogue_div_left a{

    font-family: ZenDots;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/*part of #catalogue_div_left*/
.content_list 
{
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

.content_list  li
{
    margin-bottom: 10px;
}

@media (max-width: 768px) 
{
    #catalogue_div_left a, .content_list 
    {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 480px) 
{
    #catalogue_div_left a, .content_list 
    {
        font-size: 1.0rem;
    }
}


#catalogue_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: solid 2px red;
}


.project_div {
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 0.5vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    border: solid 2px blue;
}

.project_div:hover {
    transform: scale(1.03); /* subtle zoom */
}

/* Keep project info below video/thumbnail */
.project_info {
    display: flex;
    flex-direction: column;
    padding: 6px 4px;
    background: var(--light-gray-color);
    border-radius: 0 0 0.5vw 0.5vw;
}

.project_title {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: #222;
}

.project_description {
    font-size: 0.85em;
    color: #333;
    line-height: 1.2;
    text-align: center;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.project_div:hover .project_description {
    max-height: 100px; /* or whatever fits your text */
    opacity: 1;
}

/* Maintain 16:9 aspect ratio */
.project_div::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.project_div img,
.project_div video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills container, preserves aspect ratio */
    display: block;
}

.project_div video {
    display: none;
}

.project_div:hover video {
    display: block;
}

.project_div:hover img {
    display: none;
}
